@font-face {
  font-family: "Aristotelica";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Aristotelica/aristotelica.display-trial-bold.eot");
  src: url("../fonts/Aristotelica/aristotelica.display-trial-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aristotelica/aristotelica.display-trial-bold.woff") format("woff"), url("../fonts/Aristotelica/aristotelica.display-trial-bold.ttf") format("truetype"); }

@font-face {
  font-family: "Aristotelica";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Aristotelica/aristotelica.display-trial-demibold.eot");
  src: url("../fonts/Aristotelica/aristotelica.display-trial-demibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aristotelica/aristotelica.display-trial-demibold.woff") format("woff"), url("../fonts/Aristotelica/aristotelica.display-trial-demibold.ttf") format("truetype"); }

@font-face {
  font-family: "Aristotelica";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Aristotelica/aristotelica.display-trial-heavy.eot");
  src: url("../fonts/Aristotelica/aristotelica.display-trial-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Aristotelica/aristotelica.display-trial-heavy.woff") format("woff"), url("../fonts/Aristotelica/aristotelica.display-trial-heavy.ttf") format("truetype"); }

@font-face {
  font-family: "Aristotelica";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Aristotelica/aristotelica.display-trial-light.eot");
  src: url("../fonts/Aristotelica/aristotelica.display-trial-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Aristotelica/aristotelica.display-trial-light.woff") format("woff"), url("../fonts/Aristotelica/aristotelica.display-trial-light.ttf") format("truetype"); }

@font-face {
  font-family: "Aristotelica";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aristotelica/aristotelica.display-trial-regular.eot");
  src: url("../fonts/Aristotelica/aristotelica.display-trial-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Aristotelica/aristotelica.display-trial-regular.woff") format("woff"), url("../fonts/Aristotelica/aristotelica.display-trial-regular.ttf") format("truetype"); }

@font-face {
  font-family: "Aristotelica";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Aristotelica/aristotelica.display-trial-thin.eot");
  src: url("../fonts/Aristotelica/aristotelica.display-trial-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Aristotelica/aristotelica.display-trial-thin.woff") format("woff"), url("../fonts/Aristotelica/aristotelica.display-trial-thin.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: light;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Montserrat/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/OpenSans/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-weight: light;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"); }
