body {
  font-family: 'Montserrat';
  font-weight: normal;
  color: #5d5d5d;
  background-color: #f9f9f9; }

html,
body {
  transition: all .3s; }

img {
  max-width: 100%; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }
  @media all and (max-width: 767px) {
    h3 {
      line-height: 32px; } }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

.semibold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

p {
  line-height: 28px; }
  p .sparse {
    line-height: 32px; }

.text-right {
  text-align: right; }

.italic {
  font-style: italic; }

.text-violet {
  color: #523eda; }

.text-underline {
  border-bottom: 1px solid currentColor; }

.header {
  background-color: #fff; }
  .header.page-menu-opened {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; }

.header-in {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media all and (max-width: 992px) {
    .header-in {
      flex-direction: column; }
      .header-in > div {
        margin-bottom: 22px; } }
  @media all and (max-width: 767px) {
    .header-in {
      flex-direction: row; }
      .header-in .header-in {
        align-items: flex-start; } }

.logo {
  max-width: 180px; }
  @media all and (max-width: 1300px) {
    .logo {
      max-width: 85px; } }
  @media all and (max-width: 992px) {
    .logo {
      max-width: 160px;
      margin-bottom: 5px !important;
      padding-top: 10px; } }
  @media all and (max-width: 767px) {
    .logo {
      max-width: 130px;
      align-self: start;
      padding-left: 0px;
      padding-top: 0;
      margin-bottom: 0 !important; } }
  .logo img {
    width: 100%;
    margin: 20px 0px; }

a {
  text-decoration: unset;
  color: #5d5d5d; }
  a:visited, a:hover, a:active {
    text-decoration: unset;
    color: #5d5d5d; }

li {
  text-decoration: unset;
  list-style: none; }

.container {
  width: 1240px;
  margin: 0 auto; }
  @media all and (max-width: 1300px) {
    .container {
      width: 100%;
      padding: 0px 15px; } }

.nav .submenu-outer {
  position: absolute;
  right: 0;
  transition: all .3s;
  opacity: 0;
  z-index: -1; }
  @media all and (max-width: 767px) {
    .nav .submenu-outer {
      position: relative;
      height: 0;
      transition: all .3s; } }

.nav .submenu {
  padding: 25px 35px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 210px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 0.65);
  -moz-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 0.65);
  box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 0.65); }
  @media all and (max-width: 767px) {
    .nav .submenu {
      padding: 0 60px;
      -webkit-box-shadow: unset;
      -moz-box-shadow: unset;
      box-shadow: unset; } }
  .nav .submenu ul {
    flex-direction: column;
    padding: 0; }
  .nav .submenu li {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    padding: 0; }
    @media all and (max-width: 767px) {
      .nav .submenu li {
        margin-bottom: 40px; } }
    .nav .submenu li:nth-last-child(1) {
      margin-bottom: 0; }
    .nav .submenu li a {
      text-transform: unset;
      padding: 0;
      white-space: nowrap; }

.nav .arrow-menu {
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 1px solid #464545;
  border-bottom: 1px solid #464545;
  transform: rotate(45deg) translate(-5px, 5px);
  transition: all .3s;
  z-index: -1; }

@media all and (max-width: 767px) {
  .nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -300px;
    background-color: #fff;
    width: 300px;
    bottom: 0;
    padding-top: 80px;
    overflow: auto;
    height: max-content;
    padding-bottom: 0;
    transform: translate(0);
    transition: all .3s; }
    .nav.menu-opened {
      transform: translate(-300px); } }

@media all and (max-width: 992px) {
  .nav {
    margin-bottom: 25px; } }

.nav ul {
  display: flex; }
  .nav ul li {
    position: relative; }
    .nav ul li a {
      padding: 0px 20px; }
    .nav ul li.submenu-opened .submenu-outer {
      position: relative;
      opacity: 1;
      height: auto;
      padding: 25px 0;
      padding-top: 40px !important;
      z-index: 100; }
    .nav ul li.submenu-opened .arrow-menu {
      transform: rotate(45deg) translate(-2px, 8px) scale(-1, -1); }
    @media all and (min-width: 768px) {
      .nav ul li:hover .arrow-menu {
        transform: rotate(45deg) translate(-2px, 8px) scale(-1, -1); } }
    @media all and (min-width: 768px) {
      .nav ul li:hover .submenu-outer {
        opacity: 1;
        z-index: 100;
        height: auto;
        padding-top: 36px; } }
    @media all and (max-width: 1300px) {
      .nav ul li:hover .submenu-outer {
        padding-top: 24px; } }
    @media all and (max-width: 767px) {
      .nav ul li:hover .submenu-outer {
        padding-top: 0; } }
    @media all and (max-width: 767px) {
      .nav ul li {
        margin-bottom: 67px; } }
  @media all and (max-width: 767px) {
    .nav ul {
      flex-direction: column;
      padding: 0px 12px; } }

.nav a {
  font-size: 16px;
  text-transform: uppercase; }
  @media all and (max-width: 1300px) {
    .nav a {
      font-size: 14px; } }
  .nav a:hover {
    color: #523eda; }

.nav > ul {
  max-height: calc(100vh - 55px);
  overflow: auto; }

.social {
  display: flex; }
  @media all and (max-width: 767px) {
    .social {
      transform: translateX(-10px);
      padding-right: 40px;
      padding-top: 20px; } }
  @media screen and (max-width: 419px) {
    .social {
      padding-right: 25px; } }
  .social .log-in {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 18px;
    transform: translateY(4px);
    font-size: 12px; }
    .social .log-in a {
      color: #523eda; }
    @media all and (max-width: 992px) {
      .social .log-in {
        display: none; } }
    @media all and (max-width: 767px) {
      .social .log-in {
        display: none; } }
  .social .soc-ico {
    display: inline-flex;
    width: 15px;
    height: 15px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 14px; }
    @media all and (max-width: 1300px) {
      .social .soc-ico {
        box-sizing: content-box; } }
    @media all and (max-width: 992px) {
      .social .soc-ico {
        padding: 0px 20px; } }
    @media all and (max-width: 767px) {
      .social .soc-ico {
        padding: 0px 11px; } }
    @media screen and (max-width: 419px) {
      .social .soc-ico {
        padding: 0 1.5vw; } }
    .social .soc-ico svg {
      object-fit: contain;
      object-position: center; }
  .social .fb {
    background-image: url("../icons/SocialNetworks/facebook.svg"); }
    .social .fb:hover, .social .fb:active {
      background-image: url("../icons/SocialNetworks/activColor/facebook.svg"); }
  .social .yt {
    background-image: url("../icons/SocialNetworks/youtube.svg"); }
    .social .yt:hover, .social .yt:active {
      background-image: url("../icons/SocialNetworks/activColor/youtube.svg"); }
  .social .tw {
    background-image: url("../icons/SocialNetworks/twitter.svg"); }
    .social .tw:hover, .social .tw:active {
      background-image: url("../icons/SocialNetworks/activColor/twitter.svg"); }
  .social .in {
    background-image: url("../icons/SocialNetworks/instagram.svg"); }
    .social .in:hover, .social .in:active {
      background-image: url("../icons/SocialNetworks/activColor/instagram.svg"); }
  .social .ln {
    background-image: url("../icons/SocialNetworks/linkedin.svg"); }
    .social .ln:hover, .social .ln:active {
      background-image: url("../icons/SocialNetworks/activColor/linkedin.svg"); }

.info {
  background-color: #26f8f8;
  font-weight: bold;
  color: #3c359c;
  font-size: 20px;
  line-height: 25px;
  padding: 0 10px;
  display: flex;
  justify-content: center; }
  .info a {
    color: #3c359c; }
  @media all and (max-width: 992px) {
    .info {
      font-size: 14px;
      padding: 2px 10px;
      font-size: 14px; } }
  @media all and (max-width: 767px) {
    .info {
      padding: 15px 25px;
      font-size: 18px;
      display: none; } }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.main-slider {
  animation: opacity .5s; }
  .main-slider .slider-in {
    max-height: 600px; }
  .main-slider .tns-controls {
    padding: 0px 25px;
    box-sizing: border-box;
    outline: none;
    height: 0;
    top: 50%; }
    .main-slider .tns-controls button {
      border-radius: 50% !important;
      background-color: rgba(17, 17, 17, 0.5);
      padding: 0;
      width: 35px;
      height: 35px; }
      .main-slider .tns-controls button::after {
        transform: rotate(-45deg) translate(1px, 1px); }
  .main-slider .one-large-slide {
    background-color: #fff;
    display: inline-flex !important;
    transition: background-color .3s;
    height: 56vh;
    min-height: 530px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media all and (max-width: 992px) {
      .main-slider .one-large-slide {
        height: 54vh;
        min-height: 480px; } }
    @media all and (max-width: 767px) {
      .main-slider .one-large-slide {
        height: 57vh;
        min-height: 500px; } }
    .main-slider .one-large-slide .logo {
      position: absolute;
      display: none;
      width: 85px;
      max-width: unset;
      padding-top: 35px; }
      @media all and (max-width: 767px) {
        .main-slider .one-large-slide .logo {
          display: none; } }
    .main-slider .one-large-slide .content {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 50%;
      justify-content: center;
      padding-top: 35px; }
      @media all and (max-width: 767px) {
        .main-slider .one-large-slide .content {
          width: 100%; } }
      .main-slider .one-large-slide .content > div {
        margin-bottom: 40px;
        color: #fff;
        font-size: 42px;
        font-weight: 600;
        line-height: 36px; }
        @media all and (max-width: 1300px) {
          .main-slider .one-large-slide .content > div {
            font-size: 24px;
            margin-bottom: 10px; } }
        @media all and (max-width: 767px) {
          .main-slider .one-large-slide .content > div {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 30px; } }
      .main-slider .one-large-slide .content__header {
        font-size: 60px !important;
        line-height: 60px !important;
        color: #74ff74 !important;
        font-weight: 700 !important;
        text-shadow: 0px 0px 3px #FFFFFF; }
        @media all and (max-width: 992px) {
          .main-slider .one-large-slide .content__header {
            font-size: 40px !important;
            line-height: 60px !important; } }
        @media all and (max-width: 767px) {
          .main-slider .one-large-slide .content__header {
            font-size: 26px !important;
            line-height: 35px !important; } }
      .main-slider .one-large-slide .content__time {
        font-weight: unset !important; }
        .main-slider .one-large-slide .content__time p {
          margin-bottom: 10px; }
      .main-slider .one-large-slide .content__venue {
        text-transform: uppercase; }
      .main-slider .one-large-slide .content__date {
        text-transform: uppercase; }
    @media all and (max-width: 992px) {
      .main-slider .one-large-slide {
        max-height: unset; } }
    .main-slider .one-large-slide .particles-js-canvas-el {
      position: absolute; }
    .main-slider .one-large-slide > a {
      height: 56vh;
      min-height: 530px;
      margin: 0 auto;
      width: 100%; }
      @media all and (max-width: 992px) {
        .main-slider .one-large-slide > a {
          height: 100%; } }
    .main-slider .one-large-slide img {
      display: block;
      height: 100%;
      margin: 0 auto;
      z-index: 100;
      width: 100%;
      object-fit: contain; }

.mini-slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 40px 0px;
  padding-bottom: 0px; }
  @media all and (max-width: 767px) {
    .mini-slider {
      grid-template-columns: 100%;
      padding-top: 0; } }
  .mini-slider-outer {
    margin: 0px 55px !important; }
    @media all and (max-width: 1300px) {
      .mini-slider-outer {
        margin: unset !important; } }
    .mini-slider-outer .tns-outer {
      margin: 0px 25px; }
    .mini-slider-outer .tns-ovh {
      box-sizing: border-box; }
    .mini-slider-outer .tns-controls {
      transform: translateY(30%); }
  .mini-slider .mini-slide {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 75px; }
    @media all and (max-width: 992px) {
      .mini-slider .mini-slide {
        height: 50px; } }
    @media all and (max-width: 767px) {
      .mini-slider .mini-slide {
        height: 75px; } }
    .mini-slider .mini-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .mini-slider .mini-slide::after {
      position: absolute;
      width: 40px;
      height: 100%;
      right: 0;
      top: 0;
      background-color: #fff;
      display: inline-block; }
  .mini-slider .slider-description {
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px 15px;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 20px; }
    @media all and (max-width: 992px) {
      .mini-slider .slider-description {
        font-size: 14px;
        padding: 20px 10px; } }
    @media all and (max-width: 767px) {
      .mini-slider .slider-description {
        font-size: 20px;
        padding: 25px 15px; } }

.threexgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0px;
  padding: 0px 75px;
  gap: 40px; }
  @media all and (max-width: 767px) {
    .threexgrid .gcontent-outer:nth-child(2) {
      padding-bottom: 20px; } }
  @media all and (max-width: 1300px) {
    .threexgrid {
      padding: 0; } }
  @media all and (max-width: 992px) {
    .threexgrid {
      gap: 0px;
      margin: 55px 0px;
      margin-bottom: 15px; } }
  @media all and (max-width: 767px) {
    .threexgrid {
      grid-template-columns: 100%;
      row-gap: 25px;
      margin-top: 35px;
      margin-bottom: 15px; } }
  @media all and (max-width: 767px) {
    .threexgrid .gcontent-outer {
      border-bottom: 1px solid #464545;
      padding-bottom: 40px; } }
  .threexgrid .gcontent-outer:nth-child(1) {
    border-right: 1px solid #464545; }
    @media all and (max-width: 767px) {
      .threexgrid .gcontent-outer:nth-child(1) {
        border-right: unset; } }
    .threexgrid .gcontent-outer:nth-child(1) .gcontent {
      padding-left: 90px; }
      @media all and (max-width: 767px) {
        .threexgrid .gcontent-outer:nth-child(1) .gcontent {
          padding-left: 0px;
          padding-top: 115px; } }
  .threexgrid .gcontent-outer:nth-child(2) .gcontent {
    padding-left: 90px; }
    @media all and (max-width: 767px) {
      .threexgrid .gcontent-outer:nth-child(2) .gcontent {
        padding-left: 0px;
        padding-top: 120px; } }
  .threexgrid .gcontent-outer:nth-child(3) {
    border-left: 1px solid #464545; }
    @media all and (max-width: 767px) {
      .threexgrid .gcontent-outer:nth-child(3) {
        border-left: unset;
        border-bottom: unset; } }
    .threexgrid .gcontent-outer:nth-child(3) .gcontent {
      padding-left: 94px; }
      @media all and (max-width: 992px) {
        .threexgrid .gcontent-outer:nth-child(3) .gcontent {
          padding-left: 72px; } }
      @media all and (max-width: 767px) {
        .threexgrid .gcontent-outer:nth-child(3) .gcontent {
          padding-left: 0px;
          padding-top: 125px; } }
  .threexgrid .gcontent {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 70px;
    max-width: 240px;
    background-size: contain;
    background-position: left center;
    height: 100%; }
    @media all and (max-width: 767px) {
      .threexgrid .gcontent {
        background-size: 35px;
        margin: 0 auto;
        text-align: center;
        background-position: center top;
        max-width: 295px; } }
  .threexgrid .name {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 900; }
    @media all and (max-width: 992px) {
      .threexgrid .name {
        font-size: 18px; } }
    @media all and (max-width: 767px) {
      .threexgrid .name {
        width: 100%;
        font-size: 18px; } }
  .threexgrid .description {
    font-size: 16px;
    line-height: 18px; }
    @media all and (max-width: 992px) {
      .threexgrid .description {
        font-size: 14px; } }
    @media all and (max-width: 767px) {
      .threexgrid .description {
        font-size: 14px; } }
  .threexgrid .g1 {
    background-image: url("../icons/WhoWeAre/1. Top Biohacks (DNA).svg");
    background-size: 38px; }
    @media all and (max-width: 992px) {
      .threexgrid .g1 {
        background-size: 32px;
        background-position: 45px 10px; } }
    @media all and (max-width: 767px) {
      .threexgrid .g1 {
        background-size: 38px;
        background-position: center top; } }
  .threexgrid .g2 {
    background-image: url("../icons/WhoWeAre/2. Content (Media).svg");
    margin: 0 auto;
    background-size: 55px; }
    @media all and (max-width: 992px) {
      .threexgrid .g2 {
        background-size: 45px;
        background-position: 30px 10px; } }
    @media all and (max-width: 767px) {
      .threexgrid .g2 {
        background-size: 45px;
        background-position: center top; } }
  .threexgrid .g3 {
    background-image: url("../icons/WhoWeAre/3. Who We Are (Community).svg");
    float: right;
    background-size: 65px; }
    @media all and (max-width: 992px) {
      .threexgrid .g3 {
        background-size: 60px; } }
    @media all and (max-width: 767px) {
      .threexgrid .g3 {
        float: unset;
        background-size: 65px; } }

.subscribe {
  position: relative;
  background-color: #3c359c;
  color: #fff;
  padding: 30px 0px;
  width: 100%; }
  @media all and (max-width: 992px) {
    .subscribe {
      padding: 20px 0px;
      padding-bottom: 30px; } }
  .subscribe .particles-js-canvas-el {
    position: absolute;
    top: 0; }
  .subscribe_btn {
    border: unset !important;
    background-color: #ff2945 !important;
    width: 190px;
    text-transform: capitalize; }
    @media all and (max-width: 992px) {
      .subscribe_btn {
        min-width: unset !important;
        width: 120px;
        font-size: 16px !important;
        height: 35px !important; } }
    @media all and (max-width: 767px) {
      .subscribe_btn {
        width: calc(100% - 10px);
        font-size: 20px !important;
        line-height: 11px !important;
        height: 45px !important; } }
  .subscribe-in {
    display: flex; }
    @media all and (max-width: 1300px) {
      .subscribe-in {
        width: 100%;
        padding: 0px 15px; } }
    @media all and (max-width: 1300px) {
      .subscribe-in {
        flex-direction: column; } }
  .subscribe-left {
    flex: 0 1 33%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media all and (max-width: 1300px) {
      .subscribe-left {
        margin-bottom: 50px; } }
    @media all and (max-width: 992px) {
      .subscribe-left {
        margin-bottom: 28px; } }
    @media all and (max-width: 767px) {
      .subscribe-left {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 15px; } }
    .subscribe-left > div {
      padding: 0px 20px;
      display: inline-flex;
      align-items: center; }
    .subscribe-left .join {
      flex: 0 1 40%;
      font-size: 24px;
      font-weight: bold;
      text-align: right; }
      @media all and (max-width: 1300px) {
        .subscribe-left .join {
          flex: 0 1 290px;
          line-height: 28px; } }
      @media all and (max-width: 767px) {
        .subscribe-left .join {
          text-align: left;
          margin-bottom: 10px;
          flex: 0 1 auto;
          line-height: normal; } }
    .subscribe-left .descr {
      flex: 1 0 70%;
      line-height: 20px;
      height: max-content;
      max-width: 350px;
      border-left: 1px solid #fff; }
      @media all and (max-width: 767px) {
        .subscribe-left .descr {
          line-height: 18px;
          font-size: 14px;
          border-left: unset; } }

@keyframes scale {
  from {
    width: 0%; }
  to {
    width: 100%; } }
  .subscribe-main {
    display: flex; }
    .subscribe-main .subscribe_form {
      z-index: 10;
      display: flex;
      flex: 1;
      justify-content: center; }
      @media all and (max-width: 767px) {
        .subscribe-main .subscribe_form {
          flex-direction: column; } }
    .subscribe-main .input-field {
      padding: 0px 20px;
      display: inline-flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column; }
      @media (max-width: 890px) and (min-width: 768px) {
        .subscribe-main .input-field {
          padding: 0px 15px; } }
      @media all and (max-width: 767px) {
        .subscribe-main .input-field {
          margin-bottom: 3px;
          padding: 0 30px; } }
      .subscribe-main .input-field .label {
        text-transform: capitalize;
        display: none; }
      .subscribe-main .input-field.field-submit {
        padding-right: 0; }
        @media all and (max-width: 767px) {
          .subscribe-main .input-field.field-submit {
            margin: unset;
            padding-right: 20px;
            margin-top: 22px; } }
      .subscribe-main .input-field input {
        position: relative;
        background-color: transparent;
        border: unset;
        border-bottom: 1px solid #fff;
        color: #fff;
        outline: unset;
        padding: 5px 0px;
        transition: border-width 0.6s linear;
        transition: all .3s;
        border-radius: unset !important;
        font-size: 15px;
        line-height: 25px;
        max-width: 150px; }
        .subscribe-main .input-field input::placeholder {
          color: #fff; }
        @media all and (max-width: 767px) {
          .subscribe-main .input-field input {
            font-size: 18px;
            line-height: 35px;
            max-width: unset; }
            .subscribe-main .input-field input::placeholder {
              color: #fff; } }
        .subscribe-main .input-field input::after {
          content: '';
          width: 100%;
          position: absolute;
          bottom: 0;
          height: 1px;
          background-color: #ff2945;
          transition: width .3s; }
        .subscribe-main .input-field input:focus {
          border-bottom: 1px solid #ff2945; }

.tns-controls button {
  border-radius: 40px !important; }

.upcoming-events {
  padding-top: 75px;
  margin-bottom: 135px !important; }
  @media all and (max-width: 992px) {
    .upcoming-events {
      padding-top: 55px;
      margin-bottom: 45px !important; } }
  @media all and (max-width: 767px) {
    .upcoming-events {
      padding-top: 60px;
      margin-bottom: 45px !important; } }
  .upcoming-events .no-slider .upcoming-events__event {
    padding: 0 15px; }
  .upcoming-events__list {
    display: flex;
    justify-content: center; }
    @media all and (max-width: 767px) {
      .upcoming-events__list {
        padding: 0;
        padding-top: 10px; } }
    .upcoming-events__list a,
    .upcoming-events__list .date {
      color: #010101; }
  .upcoming-events__header {
    text-align: center;
    font-weight: 900;
    color: #464545;
    font-size: 36px;
    margin-bottom: 70px; }
    @media all and (max-width: 992px) {
      .upcoming-events__header {
        font-size: 36px;
        margin-bottom: 45px !important; } }
    @media all and (max-width: 767px) {
      .upcoming-events__header {
        font-size: 32px;
        margin-bottom: 45px !important;
        font-size: 28px; } }
  .upcoming-events .tns-controls {
    top: 35%;
    height: 0;
    outline: none; }
  .upcoming-events .tns-ovh {
    padding: 0px 25px; }
  .upcoming-events__event {
    width: 100%; }
    @media screen and (min-width: 993px) {
      .upcoming-events__event {
        max-width: 290px; } }
    .upcoming-events__event .picture {
      margin-bottom: 15px; }
      @media all and (max-width: 992px) {
        .upcoming-events__event .picture {
          margin-bottom: 10px; } }
      @media all and (max-width: 767px) {
        .upcoming-events__event .picture {
          margin-bottom: 15px; } }
    .upcoming-events__event .name {
      min-height: 70px;
      text-align: center;
      margin-bottom: 15px; }
      @media all and (max-width: 992px) {
        .upcoming-events__event .name {
          min-height: 45px; } }
      @media all and (max-width: 767px) {
        .upcoming-events__event .name {
          padding: 0 25px;
          min-height: 70px;
          margin-bottom: 5px; } }
      .upcoming-events__event .name a {
        font-size: 14px;
        font-weight: 600; }
        @media all and (max-width: 1300px) {
          .upcoming-events__event .name a {
            font-size: 12px; } }
        @media all and (max-width: 767px) {
          .upcoming-events__event .name a {
            font-size: 18px;
            line-height: 20px; } }
    .upcoming-events__event .date {
      border-top: 1px solid #464545;
      display: flex;
      justify-content: space-between;
      padding: 12px 0px; }
      @media all and (max-width: 767px) {
        .upcoming-events__event .date {
          margin: 0 25px; } }
      .upcoming-events__event .date > div {
        padding: 3px 0px;
        padding-left: 20px;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        font-size: 11px;
        text-transform: uppercase; }
        @media all and (max-width: 767px) {
          .upcoming-events__event .date > div {
            padding-left: 25px; } }
      .upcoming-events__event .date .location {
        background-image: url("../icons/UpcomingEvents/Location.svg"); }
      .upcoming-events__event .date .calendar {
        background-image: url("../icons/UpcomingEvents/Calendar.svg"); }
      .upcoming-events__event .date .web {
        background-image: url("../icons/UpcomingEvents/webcam.svg"); }
    .upcoming-events__event img {
      width: 100%; }
      @media all and (max-width: 767px) {
        .upcoming-events__event img {
          padding: 0 25px; } }

.footer {
  background-color: #464545;
  color: #fff;
  padding-bottom: 55px;
  margin-top: 0px; }
  .footer-logo {
    width: 100px;
    height: 55px; }
    @media all and (max-width: 767px) {
      .footer-logo {
        height: 65px; } }
    .footer-logo img {
      width: 100%;
      height: 100%; }
  .footer-social {
    display: flex;
    justify-content: center; }
    .footer-social__logo {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0px 7px;
      box-sizing: content-box; }
      .footer-social__logo.fb {
        background-image: url("../icons/basement/fb.svg"); }
      .footer-social__logo.tw {
        background-image: url("../icons/basement/Tw.svg"); }
      .footer-social__logo.yt {
        background-image: url("../icons/basement/youtube.svg"); }
      .footer-social__logo.in {
        background-image: url("../icons/basement/instagram.svg"); }
      .footer-social__logo.ln {
        background-image: url("../icons/basement/Ln.svg"); }
  .footer .row-logo {
    padding-top: 35px;
    display: flex;
    justify-content: center; }
  .footer .hashtag {
    text-align: center;
    font-size: 12px;
    margin-bottom: 25px; }
  .footer .row-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px 0;
    padding-bottom: 30px; }
    @media all and (max-width: 992px) {
      .footer .row-columns {
        padding: 55px 0;
        padding-bottom: 65px; } }
    @media all and (max-width: 767px) {
      .footer .row-columns {
        grid-template-columns: 1fr 1fr;
        padding: 35px 0;
        margin: 0 30px;
        padding-bottom: 30px; } }
    .footer .row-columns .column-head {
      font-weight: bold;
      margin-bottom: 35px;
      text-transform: uppercase;
      font-size: 14px; }
      @media all and (max-width: 767px) {
        .footer .row-columns .column-head {
          margin-bottom: 28px; } }
    .footer .row-columns .footer-column {
      padding-left: 80px; }
      @media all and (max-width: 1300px) {
        .footer .row-columns .footer-column {
          padding-left: 0; } }
      .footer .row-columns .footer-column li {
        margin-bottom: 20px; }
      .footer .row-columns .footer-column a {
        font-size: 12px;
        color: #fff; }

.tns-outer {
  position: relative; }

.tns-controls {
  position: absolute;
  top: 40%;
  z-index: 10;
  width: 100%;
  transform: translateY(-50%); }
  @media all and (max-width: 767px) {
    .tns-controls {
      top: 47%; } }
  .tns-controls button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: unset;
    position: relative;
    outline: unset; }
  .tns-controls button::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    border-top: 2px solid #a2a2a2;
    border-left: 2px solid #a2a2a2;
    display: inline-block; }
  .tns-controls button[data-controls="next"] {
    float: right;
    transform: scale(-1, 1); }

button[data-action="stop"],
button[data-action="start"] {
  display: none; }

.small_container {
  max-width: 1180px;
  margin: 0 auto; }

.justify-center {
  display: flex;
  justify-content: center; }

.text-left {
  text-align: left !important; }

.load-more-btn {
  padding: 15px 0px; }

.subName {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px; }

button,
input[type="submit"] {
  border-radius: unset !important;
  -webkit-appearance: none;
  background-color: unset; }

.btn {
  min-width: 150px;
  height: 50px;
  border: unset;
  background-color: #ff2945;
  color: #fff !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  padding: 0 20px; }
  @media all and (max-width: 992px) {
    .btn {
      min-width: 190px;
      height: 45px;
      font-size: 17px; } }
  @media all and (max-width: 767px) {
    .btn {
      min-width: 160px;
      height: 50px;
      font-size: 17px; } }
  .btn__small, .btn-small {
    min-width: 125px;
    height: 40px;
    font-size: 16px; }
  .btn__xs, .btn-xs {
    height: 27px;
    min-width: 100px;
    font-size: 10px; }
  .btn.secondary, .btn-secondary {
    background-color: unset;
    color: #523eda !important;
    border: 1px solid #523eda; }
  .btn-rounded {
    border-radius: 25px; }

.list-event,
.blog-post-in {
  padding: 30px 25px;
  display: flex;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  margin-bottom: 25px; }
  @media all and (max-width: 767px) {
    .list-event,
    .blog-post-in {
      flex-direction: column; } }
  .list-event .row-name,
  .blog-post-in .row-name {
    font-size: 28px;
    font-weight: bold; }
    .list-event .row-name a,
    .blog-post-in .row-name a {
      color: #000; }
  .list-event .row-type,
  .blog-post-in .row-type {
    text-transform: uppercase; }
  .list-event .row-date,
  .blog-post-in .row-date {
    font-size: 16px; }
    .list-event .row-date > div,
    .blog-post-in .row-date > div {
      display: inline-block; }
    .list-event .row-date .place,
    .blog-post-in .row-date .place {
      font-weight: bold;
      color: #523eda;
      text-transform: uppercase; }
  .list-event .row-descr,
  .blog-post-in .row-descr {
    line-height: 25px; }
  .list-event .prewiew,
  .blog-post-in .prewiew {
    flex-grow: 2;
    margin-right: 15px; }
    .list-event .prewiew img,
    .blog-post-in .prewiew img {
      width: 100%; }
    @media all and (max-width: 1300px) {
      .list-event .prewiew,
      .blog-post-in .prewiew {
        flex-grow: 4;
        flex-shrink: 4; } }
    @media all and (max-width: 767px) {
      .list-event .prewiew,
      .blog-post-in .prewiew {
        margin-bottom: 15px;
        margin-right: 0; } }
  .list-event .description,
  .blog-post-in .description {
    color: #000;
    flex-grow: 10; }
    .list-event .description > div,
    .blog-post-in .description > div {
      margin-bottom: 15px; }
    @media all and (max-width: 1300px) {
      .list-event .description,
      .blog-post-in .description {
        flex-shrink: 8; } }

.blog-post .prewiew {
  padding-top: 50px;
  max-width: 460px;
  margin-right: 30px; }
  @media all and (max-width: 767px) {
    .blog-post .prewiew {
      margin-right: unset;
      padding-top: 0; } }

.blog-post .row-type {
  margin-bottom: 10px !important; }

.blog-post .heading-row {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  padding: 5px 0;
  padding-bottom: 0;
  margin-bottom: 10px !important; }
  .blog-post .heading-row > div {
    display: inline-flex; }
  .blog-post .heading-row .date {
    margin-right: 15px;
    vertical-align: bottom;
    margin-bottom: 5px; }
    @media all and (max-width: 767px) {
      .blog-post .heading-row .date {
        width: 100%;
        display: block; } }
  .blog-post .heading-row .btn {
    margin-right: 5px;
    margin-bottom: 5px; }

.slider-section {
  padding-top: 45px; }
  @media all and (max-width: 992px) {
    .slider-section {
      padding-top: 45px; } }
  @media all and (max-width: 767px) {
    .slider-section {
      padding-top: 40px; } }
  .slider-section .upcoming-events__header {
    margin-bottom: 50px; }
    @media all and (max-width: 992px) {
      .slider-section .upcoming-events__header {
        margin-bottom: 40px; } }
    @media all and (max-width: 992px) {
      .slider-section .upcoming-events__header {
        margin-bottom: 25px; } }

.cards-slider {
  margin-bottom: 35px; }
  @media all and (max-width: 767px) {
    .cards-slider {
      margin-bottom: 45px; } }
  @media all and (max-width: 1300px) {
    .cards-slider {
      padding: 0px 25px; } }
  @media all and (max-width: 992px) {
    .cards-slider {
      padding: 0; } }
  @media all and (max-width: 767px) {
    .cards-slider {
      padding: 0; } }
  .cards-slider-header {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center; }
    @media all and (max-width: 767px) {
      .cards-slider-header {
        font-size: 22px;
        margin-top: -20px; } }
  .cards-slider-in {
    margin: 0 auto;
    display: flex;
    align-items: stretch; }
    @media all and (max-width: 992px) {
      .cards-slider-in__gold .picture, .cards-slider-in__silver .picture {
        height: 140px !important; } }
    @media all and (max-width: 767px) {
      .cards-slider-in__gold .picture, .cards-slider-in__silver .picture {
        height: 80px !important; } }
    @media all and (max-width: 767px) {
      .cards-slider-in__gold .slide-card-in, .cards-slider-in__silver .slide-card-in {
        padding: 15px !important; } }
  .cards-slider .slide-card-in {
    width: 100%;
    height: 100%;
    border: 1px solid #cfcfcf;
    padding: 30px;
    background-color: #fff;
    min-height: 680px;
    flex-direction: column;
    display: flex; }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card-in {
        padding: 30px 15px;
        min-height: 630px; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card-in .top {
        margin-bottom: 0; } }
    .cards-slider .slide-card-in .slide_info {
      flex: 1;
      display: flex;
      flex-direction: column; }
      .cards-slider .slide-card-in .slide_info > div {
        margin-bottom: 20px;
        text-align: center;
        word-break: break-word; }
      .cards-slider .slide-card-in .slide_info .btn-row {
        margin-top: auto; }
    .cards-slider .slide-card-in .name {
      font-weight: bold;
      font-size: 24px;
      color: #000; }
      @media all and (max-width: 992px) {
        .cards-slider .slide-card-in .name {
          font-size: 20px; } }
      @media all and (max-width: 767px) {
        .cards-slider .slide-card-in .name {
          font-size: 25px; } }
    .cards-slider .slide-card-in .about {
      text-transform: uppercase;
      color: #464545; }
    .cards-slider .slide-card-in .description {
      color: #000;
      font-weight: 500;
      line-height: 26px; }
      @media all and (max-width: 992px) {
        .cards-slider .slide-card-in .description {
          font-size: 15px; } }
      @media all and (max-width: 767px) {
        .cards-slider .slide-card-in .description {
          font-size: 17px; } }
    .cards-slider .slide-card-in .picture {
      display: flex;
      justify-content: center;
      height: 240px;
      margin-bottom: 25px;
      align-items: center; }
      .cards-slider .slide-card-in .picture img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top; }
        @media all and (max-width: 767px) {
          .cards-slider .slide-card-in .picture img {
            height: 100%;
            object-position: center; } }
  .cards-slider .tns-controls {
    height: 0; }
    .cards-slider .tns-controls button {
      display: inline-flex;
      width: 40px;
      height: 40px;
      border-radius: 40px !important;
      background-color: #f9f9f9;
      -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4); }
      .cards-slider .tns-controls button[data-controls="prev"] {
        transform: translateX(-20px); }
        @media all and (max-width: 992px) {
          .cards-slider .tns-controls button[data-controls="prev"] {
            transform: unset; } }
      .cards-slider .tns-controls button[data-controls="next"] {
        transform: translateX(20px) scale(-1, 1); }
        @media all and (max-width: 992px) {
          .cards-slider .tns-controls button[data-controls="next"] {
            transform: translateX(0) scale(-1, 1); } }
      .cards-slider .tns-controls button::after {
        transform: rotate(-45deg) translate(2px, 2px); }
  .cards-slider .tns-nav {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    margin-top: 25px; }
    @media all and (max-width: 992px) {
      .cards-slider .tns-nav {
        display: none; } }
    .cards-slider .tns-nav button {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 14px !important;
      margin: 0px 7px;
      border: 1px solid #c4c4c4;
      background-color: #fff;
      outline: none; }
      .cards-slider .tns-nav button.tns-nav-active {
        background-color: #dcdcdc; }
  .cards-slider .slide-card__square .slide-card-in {
    min-height: 400px;
    height: max-content; }
    @media all and (max-width: 992px) {
      .cards-slider .slide-card__square .slide-card-in {
        min-height: 250px; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card__square .slide-card-in {
        min-height: 185px; } }
  .cards-slider .slide-card__square .picture {
    height: 275px; }
    @media all and (max-width: 992px) {
      .cards-slider .slide-card__square .picture {
        height: 260px; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card__square .picture {
        height: 220px; } }
    .cards-slider .slide-card__square .picture img {
      object-fit: contain;
      height: 100%; }
  .cards-slider .slide-card__square .about {
    text-transform: unset;
    margin-bottom: 0px !important; }
  .cards-slider .slide-card__wide .slide-card-in {
    display: flex;
    padding: 45px 105px;
    min-height: unset;
    flex-direction: row; }
    @media all and (max-width: 992px) {
      .cards-slider .slide-card__wide .slide-card-in {
        padding: 35px 60px;
        padding-bottom: 10px; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card__wide .slide-card-in {
        flex-direction: column;
        padding: 30px;
        text-align: center;
        padding-bottom: 12px; } }
  .cards-slider .slide-card__wide .picture {
    width: 250px;
    margin-right: 65px; }
    @media all and (max-width: 992px) {
      .cards-slider .slide-card__wide .picture {
        width: 165px;
        margin-right: 25px; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card__wide .picture {
        width: 100%;
        height: 320px; } }
  .cards-slider .slide-card__wide .slide_info {
    width: 100%; }
    .cards-slider .slide-card__wide .slide_info .short-intro {
      margin-top: 20px; }
      @media all and (max-width: 992px) {
        .cards-slider .slide-card__wide .slide_info .short-intro {
          line-height: 25px; } }
      @media all and (max-width: 767px) {
        .cards-slider .slide-card__wide .slide_info .short-intro {
          line-height: 24px; } }
    .cards-slider .slide-card__wide .slide_info > div {
      text-align: left;
      line-height: 25px;
      margin-bottom: 8px; }
      @media all and (max-width: 992px) {
        .cards-slider .slide-card__wide .slide_info > div {
          margin-bottom: 20px;
          line-height: 18px; } }
      @media all and (max-width: 767px) {
        .cards-slider .slide-card__wide .slide_info > div {
          text-align: center;
          margin-bottom: 14px;
          line-height: 24px; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card__wide .slide_info .name {
        font-size: 22px; } }
    @media all and (max-width: 992px) {
      .cards-slider .slide-card__wide .slide_info .description {
        margin-bottom: 10px !important; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card__wide .slide_info .description {
        margin-bottom: 0px !important; } }
    @media all and (max-width: 992px) {
      .cards-slider .slide-card__wide .slide_info .about {
        margin-bottom: 12px !important; } }
    @media all and (max-width: 767px) {
      .cards-slider .slide-card__wide .slide_info .about {
        margin-bottom: 4px !important; } }

.map-container,
#map {
  height: 530px; }
  @media all and (max-width: 992px) {
    .map-container,
    #map {
      height: 440px; } }
  @media all and (max-width: 767px) {
    .map-container,
    #map {
      height: 400px; } }

.map {
  margin-bottom: 0px; }
  .map .upcoming-events__header {
    margin-bottom: 35px; }
    @media all and (max-width: 767px) {
      .map .upcoming-events__header {
        margin-bottom: 25px !important; } }
  .map .event-address {
    text-align: center;
    color: #464545;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 35px; }
    @media all and (max-width: 767px) {
      .map .event-address {
        font-size: 22px;
        padding: 0 25px;
        line-height: 25px;
        margin-bottom: 20px; } }

.table-agenda {
  position: relative;
  background-color: #3c359c;
  color: #fff;
  padding: 50px 0px; }
  @media all and (max-width: 767px) {
    .table-agenda {
      padding: 40px 0px;
      padding-bottom: 55px; } }
  .table-agenda .table-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 35px; }
    @media all and (max-width: 992px) {
      .table-agenda .table-header {
        margin-bottom: 30px; } }
    @media all and (max-width: 767px) {
      .table-agenda .table-header {
        font-size: 28px;
        margin-bottom: 20px; } }
  .table-agenda .btn {
    border-color: #fff !important;
    color: #fff !important; }
  .table-agenda .time {
    font-weight: 900; }
    @media all and (max-width: 767px) {
      .table-agenda .time {
        font-size: 13px; } }

.table-container {
  position: relative; }
  @media (pointer: coarse) {
    .table-container {
      overflow: scroll; } }

.table-styled {
  width: 100%;
  border: 0px;
  margin-bottom: 50px; }
  .table-styled tr,
  .table-styled td {
    border: 0px; }
  .table-styled tr {
    color: #fff;
    background-color: #3c359c; }
  .table-styled tr:nth-child(2n) {
    background-color: #635db0; }
  .table-styled td {
    padding: 20px 15px;
    line-height: 22px; }
    @media all and (max-width: 992px) {
      .table-styled td {
        padding: 10px 15px;
        min-width: 125px; } }
    @media all and (max-width: 767px) {
      .table-styled td {
        padding: 9px 12px;
        font-size: 14px; } }

.default-section {
  background-color: #fff;
  color: #000;
  padding: 50px 0px;
  margin-top: 50px; }
  @media all and (max-width: 992px) {
    .default-section {
      padding: 15px 0px; } }
  .default-section__container {
    padding: 0px 70px; }
    @media all and (max-width: 992px) {
      .default-section__container {
        padding: 0px 55px; } }
    @media all and (max-width: 767px) {
      .default-section__container {
        padding: 0px 17px; } }
  .default-section__head {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 26px;
    margin-bottom: 35px; }
    @media all and (max-width: 992px) {
      .default-section__head {
        margin-bottom: 30px; } }
    @media all and (max-width: 767px) {
      .default-section__head {
        font-size: 24px; } }
  .default-section p {
    line-height: 26px;
    margin-bottom: 35px;
    word-break: break-word; }
    @media all and (max-width: 992px) {
      .default-section p {
        font-size: 18px;
        margin-bottom: 25px; } }
  .default-section .btn-row {
    padding: 35px 0px; }
    @media all and (max-width: 767px) {
      .default-section .btn-row {
        padding: 10px 0px; } }

.event-header {
  color: #464545;
  text-align: center;
  margin-bottom: 40px; }
  .event-header__name {
    font-size: 34px;
    margin-bottom: 45px;
    margin-top: 45px;
    font-weight: 500;
    line-height: 40px; }
    @media all and (max-width: 992px) {
      .event-header__name {
        line-height: 32px;
        font-size: 28px; } }
    @media all and (max-width: 767px) {
      .event-header__name {
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 22px;
        margin-top: 32px; } }
  .event-header__subame {
    font-size: 26px;
    margin-bottom: 30px; }
    @media all and (max-width: 992px) {
      .event-header__subame {
        margin-bottom: 25px; } }
    @media all and (max-width: 767px) {
      .event-header__subame {
        font-size: 20px;
        margin-bottom: 30px; } }

.ticket-information {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  padding: 50px 40px; }
  .ticket-information__head {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: #000; }

.is-closed__head {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  color: #000;
  padding: 25px 0px;
  margin-bottom: 25px; }

.upcoming-events__container {
  margin-top: 65px; }
  .upcoming-events__container .upcoming-events__header {
    margin-bottom: 30px; }

.events-list-container {
  padding-top: 35px; }

.filter-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 25px; }
  @media all and (max-width: 767px) {
    .filter-list {
      grid-template-columns: 100%; } }
  .filter-list .one-filter {
    width: 100%;
    position: relative; }
    .filter-list .one-filter .input-outer {
      position: relative; }
      .filter-list .one-filter .input-outer::after {
        position: absolute;
        right: 10px;
        top: calc(50% - 12px);
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url("../icons/arrow.svg") no-repeat center;
        transition: all .3s; }
      .filter-list .one-filter .input-outer.opened::after {
        transform: scale(1, -1); }
      .filter-list .one-filter .input-outer.can_search::after {
        background: url("../icons/search.svg") no-repeat center;
        transform: unset !important; }
    .filter-list .one-filter .filter-input {
      min-height: 45px;
      display: flex;
      align-items: center;
      padding: 0px 20px;
      font-size: 14px;
      font-weight: 500;
      width: 100%;
      text-transform: capitalize;
      border: 1px solid #cfcfcf;
      padding-right: 55px; }
      .filter-list .one-filter .filter-input:disabled {
        background-color: #fff; }
    .filter-list .one-filter .open-filter {
      padding: 40px 30px;
      background-color: #fff;
      border: 1px solid #cfcfcf;
      transform: translateY(-1px);
      position: absolute;
      width: 100%;
      z-index: 10; }
      .filter-list .one-filter .open-filter .btn-controls {
        padding: 40px 0px;
        padding-top: 0px; }
        .filter-list .one-filter .open-filter .btn-controls > span {
          width: 140px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          cursor: pointer; }
          @media all and (max-width: 767px) {
            .filter-list .one-filter .open-filter .btn-controls > span {
              width: calc(50% - 10px); } }
        .filter-list .one-filter .open-filter .btn-controls .select {
          text-decoration: underline;
          color: #523eda;
          text-decoration-color: currentColor; }
      .filter-list .one-filter .open-filter li {
        margin-right: 15px;
        width: 100%; }
      .filter-list .one-filter .open-filter label {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 15px; }

.styled_checkbox i {
  position: relative;
  width: 17px;
  height: 17px;
  display: inline-block;
  border: 1px solid #cfcfcf;
  margin-right: 15px; }

.styled_checkbox label {
  font-size: 16px;
  color: #626262; }

.styled_checkbox input[type="checkbox"] {
  width: 0px;
  height: 0px;
  visibility: hidden;
  position: absolute;
  z-index: -1; }
  .styled_checkbox input[type="checkbox"]:checked + i::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    background: url("../icons/check.svg") no-repeat center;
    background-size: 80%; }

.styled_checkbox-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
  cursor: pointer; }
  .styled_checkbox-form i {
    width: 10px;
    height: 10px;
    flex: 0 0 10px;
    margin-right: 10px; }
  .styled_checkbox-form a {
    color: #fff;
    text-decoration: underline !important;
    text-decoration: currentColor; }
  .styled_checkbox-form input[type="checkbox"]:checked + i::after {
    width: 6px;
    height: 6px;
    left: 1px;
    top: 1px;
    display: block;
    background-color: #fff;
    background-image: unset; }

.styled_checkbox__small i {
  width: 12px;
  height: 12px;
  flex: 0 0 12px; }

.styled_checkbox__small input[type="checkbox"]:checked + i::after {
  width: 4px;
  height: 4px;
  left: 2px;
  top: 2px;
  transform: rotate(45deg);
  background-color: transparent;
  border-bottom: 1px solid #523eda;
  border-right: 1px solid #523eda; }

.events-section-list {
  margin-bottom: 60px; }
  .events-section-list .no-results {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px; }

.text-center {
  text-align: center; }

sup,
sub {
  font-size: .5em; }

.is-closed img {
  width: 100%; }

.form-simple {
  padding: 0px 210px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  margin: 40px 0px; }
  @media all and (max-width: 1300px) {
    .form-simple {
      padding: 0px 70px; } }
  @media all and (max-width: 767px) {
    .form-simple {
      padding: 0px 15px; } }
  .form-simple form {
    padding: 50px 0px; }
    @media all and (max-width: 767px) {
      .form-simple form {
        padding: 15px 0px; } }

.form-wrapper {
  color: #010101; }

.input-block {
  margin-bottom: 35px; }
  .input-block .input-label {
    color: #010101;
    font-size: 18px;
    line-height: 32px;
    word-break: break-word; }
  .input-block .input-hint {
    font-size: 16px;
    color: #8c8c8c;
    line-height: 20px;
    padding: 5px 0;
    word-break: break-word;
    float: left; }
  .input-block .input-hint-right {
    font-style: italic;
    float: right;
    font-size: 12px; }
  .input-block .chars-left {
    color: #523eda; }
  .input-block input[type="text"],
  .input-block textarea {
    border: 1px solid #cfcfcf;
    font-size: 18px;
    padding: 7px;
    min-height: 45px;
    width: 100%; }
  .input-block i {
    color: #523eda; }

.col-50 {
  display: flex; }
  @media all and (max-width: 992px) {
    .col-50 {
      flex-direction: column; } }
  .col-50 > div {
    flex: 1; }
    @media all and (max-width: 767px) {
      .col-50 > div {
        margin-bottom: 25px; } }

.col-33 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media all and (max-width: 767px) {
    .col-33 {
      grid-template-columns: 100%;
      row-gap: 25px; } }

.after-part > * {
  margin-bottom: 40px; }

.become-speaker {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
  color: #010101; }
  @media all and (max-width: 992px) {
    .become-speaker {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media all and (max-width: 767px) {
    .become-speaker {
      padding-top: 10px;
      padding-bottom: 15px; } }
  .become-speaker__pt1 {
    margin-bottom: 40px; }
    @media all and (max-width: 767px) {
      .become-speaker__pt1 {
        margin-bottom: 0; } }
    .become-speaker__pt1 .img-part {
      padding-right: 40px;
      flex: 1.4;
      min-height: 550px; }
      @media all and (max-width: 992px) {
        .become-speaker__pt1 .img-part {
          padding-right: unset;
          margin-bottom: 25px; } }
      @media all and (max-width: 767px) {
        .become-speaker__pt1 .img-part {
          margin-bottom: 45px; } }
    .become-speaker__pt1 .descr-part {
      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 50px; }
      .become-speaker__pt1 .descr-part .btn {
        position: absolute;
        bottom: 0;
        left: 40px; }
        @media all and (max-width: 992px) {
          .become-speaker__pt1 .descr-part .btn {
            left: 50%;
            transform: translateX(-50%); } }
        @media all and (max-width: 767px) {
          .become-speaker__pt1 .descr-part .btn {
            left: 50%;
            transform: translateX(-50%);
            min-width: 190px; } }
      @media all and (max-width: 992px) {
        .become-speaker__pt1 .descr-part .descr-container {
          display: flex;
          flex-direction: column;
          align-items: center; } }
      .become-speaker__pt1 .descr-part .upcoming-events__header {
        text-align: center;
        margin-bottom: 30px !important;
        padding: 0 40px; }
      .become-speaker__pt1 .descr-part p {
        margin-bottom: 35px;
        padding: 0 40px;
        font-size: 18px; }
        @media all and (max-width: 767px) {
          .become-speaker__pt1 .descr-part p {
            padding: 0;
            line-height: 26px; } }

.opportunities-list {
  color: #010101;
  padding-top: 35px; }
  @media all and (max-width: 992px) {
    .opportunities-list {
      padding-top: 50px; } }
  @media all and (max-width: 767px) {
    .opportunities-list {
      padding-top: 40px; } }
  .opportunities-list-items {
    margin: 40px 0px; }
    @media all and (max-width: 767px) {
      .opportunities-list-items {
        margin: 35px 0px; } }
  .opportunities-list .list-item {
    padding-left: 105px;
    background-position: 10px 25px;
    background-repeat: no-repeat;
    background-size: 60px;
    margin-bottom: 40px;
    min-height: 80px;
    font-size: 20px; }
    @media all and (max-width: 992px) {
      .opportunities-list .list-item {
        background-position: 17px center;
        background-size: 65px;
        margin-bottom: 28px; } }
    @media all and (max-width: 767px) {
      .opportunities-list .list-item {
        padding-left: 0;
        padding-top: 70px;
        background-position: 50% top;
        font-size: 17px;
        text-align: center;
        margin-bottom: 45px; }
        .opportunities-list .list-item p {
          line-height: 27px; } }
    .opportunities-list .list-item__congress {
      background-image: url("../images/atoms.svg"); }
    .opportunities-list .list-item__meetup {
      background-image: url("../images/meetup.svg"); }
    .opportunities-list .list-item__webinar {
      background-image: url("../images/webinar.svg"); }
    .opportunities-list .list-item__groups {
      background-image: url("../images/groups.svg"); }

.shifted-blocks {
  color: #010101;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff; }
  @media all and (max-width: 992px) {
    .shifted-blocks {
      padding-top: 40px;
      padding-bottom: 30px; } }
  @media all and (max-width: 767px) {
    .shifted-blocks {
      padding-bottom: 50px; } }
  .shifted-blocks-in {
    display: flex;
    flex-direction: column; }
  .shifted-blocks__item {
    flex: 1;
    display: flex;
    margin-bottom: 25px; }
    .shifted-blocks__item > div {
      flex: 1; }
      @media all and (max-width: 992px) {
        .shifted-blocks__item > div {
          padding: 0 !important;
          display: flex;
          justify-content: center;
          margin-bottom: 8px; } }
      @media all and (max-width: 767px) {
        .shifted-blocks__item > div {
          margin-bottom: 12px; } }
    @media all and (max-width: 992px) {
      .shifted-blocks__item {
        flex-direction: column; } }
    .shifted-blocks__item.shift-left {
      flex-direction: row-reverse; }
      @media all and (max-width: 992px) {
        .shifted-blocks__item.shift-left {
          flex-direction: column; } }
      .shifted-blocks__item.shift-left .shifted-blocks__description {
        padding-left: 30px; }
        @media all and (max-width: 767px) {
          .shifted-blocks__item.shift-left .shifted-blocks__description {
            padding-left: 0; } }
    .shifted-blocks__item.shift-right .shifted-blocks__description {
      padding-right: 30px; }
      @media all and (max-width: 992px) {
        .shifted-blocks__item.shift-right .shifted-blocks__description {
          padding: 0 45px !important; } }
      @media all and (max-width: 767px) {
        .shifted-blocks__item.shift-right .shifted-blocks__description {
          padding-right: 0;
          padding: 0 !important;
          text-align: left;
          font-size: 18px; }
          .shifted-blocks__item.shift-right .shifted-blocks__description p {
            line-height: 26px; } }
    @media all and (max-width: 767px) {
      .shifted-blocks__item {
        flex-direction: column; } }
  .shifted-blocks__picture img {
    width: 100%;
    height: 100%;
    max-width: unset; }
  .shifted-blocks__description {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    font-size: 20px; }
    @media all and (max-width: 992px) {
      .shifted-blocks__description {
        order: 1;
        text-align: center; } }
    .shifted-blocks__description p {
      margin-bottom: 30px;
      line-height: 30px; }
      @media all and (max-width: 767px) {
        .shifted-blocks__description p {
          text-align: left;
          line-height: 26px; } }
      .shifted-blocks__description p::nth-last-child(1) {
        margin-bottom: 0; }
    .shifted-blocks__description .btn {
      margin-top: 25px; }
      @media all and (max-width: 992px) {
        .shifted-blocks__description .btn {
          margin-top: 0px;
          max-width: 235px;
          align-self: center; } }

.parallax-banner {
  /* The image used */
  background-image: url("../images/Banner.png");
  /* Set a specific height */
  height: 530px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .card-list.col-25 {
    justify-content: flex-start; }
    .card-list.col-25 .card-list__card {
      flex: 0 1 calc(25% - 25px);
      margin-right: 20px;
      min-height: 320px; }
      .card-list.col-25 .card-list__card .card-picture {
        height: 170px; }
      @media all and (max-width: 992px) {
        .card-list.col-25 .card-list__card {
          flex: 0 1 calc(50% - 25px); } }
      @media all and (max-width: 767px) {
        .card-list.col-25 .card-list__card {
          flex: 0 1 calc(100%);
          margin-right: 0; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .card-list.funds .card-list__card {
      flex: 0 1 calc(33% - 20px); } }
  .card-list__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 calc(33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    color: #010101;
    min-height: 425px; }
    @media all and (max-width: 767px) {
      .card-list__card {
        flex: 100%; } }
    .card-list__card .card-picture {
      height: 200px;
      margin-bottom: 22px;
      display: flex;
      justify-content: center; }
      .card-list__card .card-picture img {
        display: block;
        margin: 0 auto;
        object-fit: contain; }
    .card-list__card .card-name {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px; }
    .card-list__card .card-descr {
      text-transform: uppercase;
      color: #464545;
      line-height: 28px;
      margin-bottom: 10px; }
    .card-list__card .card-social {
      margin-top: auto; }
      .card-list__card .card-social .soc-ico {
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url("../images/Ln.svg") no-repeat;
        background-size: contain; }
    .card-list__card .btn {
      width: 130px;
      height: 35px;
      min-width: unset;
      margin: 0 auto;
      font-size: 12px;
      margin-top: 25px; }

.include-item {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .include-item .ico {
    min-height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto; }
    .include-item .ico.calendar {
      background-image: url("../images/calendar-ico.svg"); }
    .include-item .ico.call-center {
      background-image: url("../images/call-center.svg"); }
    .include-item .ico.social-circle {
      background-image: url("../images/circle-contacts.svg"); }
  .include-item .label {
    font-size: 20px;
    line-height: 28px; }

.check-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 45px;
  column-gap: 120px; }
  @media all and (max-width: 992px) {
    .check-list {
      padding: 0;
      gap: 0; } }
  @media all and (max-width: 767px) {
    .check-list {
      grid-template-columns: 100%; } }
  .check-list .check-element {
    min-height: 55px;
    padding-left: 55px;
    background-image: url("../images/CheckMark.svg");
    background-repeat: no-repeat;
    background-position: 10px 0px;
    background-size: 30px;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 32px; }

.contact-us-container {
  padding-top: 135px;
  background-image: url("../images/triangles-top.png");
  background-size: 1000px;
  background-repeat: repeat-x;
  margin-bottom: 90px; }

.contact-form-head {
  font-size: 18px;
  padding-top: 15px; }
  .contact-form-head > p {
    margin-bottom: 12px; }

.slogan {
  padding: 25px 0px; }
  @media all and (max-width: 767px) {
    .slogan {
      font-size: 18px;
      padding: 2px 0; }
      .slogan p {
        line-height: 26px; } }

.about-us {
  padding-top: 0;
  padding-bottom: 70px;
  background-color: #fff;
  margin-bottom: 25px; }
  @media all and (max-width: 767px) {
    .about-us {
      padding-top: 0px;
      padding-bottom: 35px; } }
  .about-us .upcoming-events__header {
    margin-bottom: 50px; }
    @media all and (max-width: 767px) {
      .about-us .upcoming-events__header {
        margin-bottom: 35px !important; } }

.who-we-are {
  padding-top: 45px;
  background-color: #fff; }
  .who-we-are .upcoming-events__header {
    margin-bottom: 40px; }

.includes-container {
  padding: 45px 0px;
  color: #010101; }
  @media all and (max-width: 767px) {
    .includes-container {
      padding-bottom: 0; } }
  .includes-container .includes-list {
    padding: 50px 0px; }
    @media all and (max-width: 767px) {
      .includes-container .includes-list {
        padding-bottom: 0; } }

.become-part {
  color: #010101; }
  .become-part h3 {
    padding: 45px 0px; }

.our-team {
  padding-top: 50px; }
  .our-team .btn-row {
    padding-top: 30px; }
  @media all and (max-width: 767px) {
    .our-team {
      padding-top: 45px; } }
  .our-team .upcoming-events__header {
    margin-bottom: 40px; }

.blog-list {
  margin-bottom: 25px; }

.row-tags {
  padding: 25px 0;
  margin-bottom: 10px; }
  .row-tags .btn {
    min-width: 140px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px; }

.blog-banner {
  display: flex; }

.blog-detail {
  color: #000;
  padding: 0px 105px 75px 105px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  margin-bottom: 80px; }
  @media all and (max-width: 767px) {
    .blog-detail {
      padding: 0px 15px 75px 15px; } }
  .blog-detail h1 {
    font-weight: bold;
    margin-bottom: 55px; }
  .blog-detail h2 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 35px; }
  .blog-detail .heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 30px 0;
    margin-bottom: 15px; }
    .blog-detail .heading-row .tags .btn {
      margin-right: 5px;
      margin-bottom: 5px; }
    .blog-detail .heading-row .date {
      margin-left: auto; }
  .blog-detail p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px; }
  .blog-detail .post-origin {
    margin-top: 75px; }
    .blog-detail .post-origin__author {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px; }
    .blog-detail .post-origin__source {
      font-size: 16px;
      text-transform: uppercase; }

.paragraph-picture {
  padding-top: 5px; }
  .paragraph-picture img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 50%; }
    @media all and (max-width: 767px) {
      .paragraph-picture img {
        max-width: unset;
        width: 100%; } }

.text-emphasis {
  font-size: 24px !important;
  line-height: 30px !important; }

.bio-slider {
  display: none;
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 11, 74, 0.9);
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  overflow: auto; }
  .bio-slider .container {
    position: relative; }
  .bio-slider .close {
    position: absolute;
    right: 35px;
    top: 10vh;
    z-index: 120;
    cursor: pointer;
    font-weight: 600; }
    @media all and (max-width: 767px) {
      .bio-slider .close {
        right: 25px;
        top: 3vh; } }
  .bio-slider .tns-controls {
    position: fixed;
    top: 50vh;
    z-index: 110;
    width: 100%;
    transform: translateY(-50%);
    left: 0; }
    @media all and (max-width: 767px) {
      .bio-slider .tns-controls {
        display: none; } }
    .bio-slider .tns-controls button {
      position: absolute;
      background-color: #c9cbd6;
      width: 35px;
      height: 35px;
      border-radius: 35px !important;
      cursor: pointer; }
      .bio-slider .tns-controls button::after {
        border-top: 2px solid #000b4a;
        border-left: 2px solid #000b4a;
        transform: rotate(-45deg) translate(1px, 1px); }
    .bio-slider .tns-controls button[data-controls="prev"] {
      left: 25px; }
    .bio-slider .tns-controls button[data-controls="next"] {
      right: 25px; }
  .bio-slider .bio-slide {
    padding: 0px 100px;
    padding-top: 10vh;
    overflow: auto;
    height: 100vh; }
    @media all and (max-width: 992px) {
      .bio-slider .bio-slide {
        padding: 0px 50px;
        padding-top: 8vh; } }
    @media all and (max-width: 767px) {
      .bio-slider .bio-slide {
        padding: 10px 35px;
        padding-top: 10vh; } }
  .bio-slider .slide_info {
    font-size: 18px; }
    @media all and (max-width: 992px) {
      .bio-slider .slide_info .name {
        font-size: 26px;
        font-weight: 500; } }
  .bio-slider .picture {
    max-width: 340px;
    max-height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    .bio-slider .picture img {
      object-fit: contain; }
  .bio-slider .picture,
  .bio-slider .slide_info > div {
    margin-bottom: 17px; }
    @media all and (max-width: 992px) {
      .bio-slider .picture,
      .bio-slider .slide_info > div {
        margin-bottom: 12px; } }
  .bio-slider p {
    margin-bottom: 25px;
    font-size: 18px; }
    @media all and (max-width: 992px) {
      .bio-slider p {
        margin-bottom: 26px;
        font-size: 20px;
        line-height: 28px; } }
    @media all and (max-width: 767px) {
      .bio-slider p {
        margin-bottom: 26px;
        font-size: 18px;
        line-height: 24px; } }

.mobile_burger {
  position: absolute;
  top: 27px;
  right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  align-self: flex-start;
  cursor: pointer;
  z-index: 1001; }
  @media all and (min-width: 768px) {
    .mobile_burger {
      display: none; } }
  .mobile_burger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #111111;
    display: block;
    transition: all .3s; }

.global-wrapper {
  transition: all .3s; }

.page-menu-opened .mobile_burger > div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 10px); }

.page-menu-opened .mobile_burger > div:nth-child(2) {
  transform: rotate(45deg) translate(-3px, -8px); }

.page-menu-opened .mobile_burger > div:nth-child(3) {
  display: none; }

.sub-label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block; }

.products-container {
  margin-bottom: 65px; }
  .products-container .upcoming-events__header {
    padding-top: 65px;
    margin-bottom: 5px; }
  .products-container .row-tags {
    margin-bottom: 5px; }

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 65px; }
  @media all and (max-width: 767px) {
    .products-list {
      grid-template-columns: 100%; } }
  .products-list .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    font-size: 18px;
    line-height: 26px;
    color: #464545; }
    .products-list .product-item__description {
      margin-bottom: 12px; }
    .products-list .product-item__btn a {
      color: #523eda; }
    .products-list .product-item__picture {
      margin-bottom: 15px; }

.prduct-detail-container {
  display: flex;
  padding-top: 25px;
  margin-bottom: 80px; }
  @media all and (max-width: 767px) {
    .prduct-detail-container {
      flex-direction: column; } }
  .prduct-detail-container .row-buttons {
    padding: 22px 0; }
    .prduct-detail-container .row-buttons .btn {
      margin-right: 5px;
      margin-bottom: 5px; }
  .prduct-detail-container .upcoming-events__header,
  .prduct-detail-container h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 17px; }
  .prduct-detail-container .slider-large-outer .hint {
    text-align: center;
    font-size: 12px;
    display: block; }
  .prduct-detail-container .slider {
    max-width: 470px;
    margin-bottom: 5px; }
    @media all and (max-width: 767px) {
      .prduct-detail-container .slider {
        margin: 0 auto; } }
    .prduct-detail-container .slider-large {
      margin-bottom: 10px; }
    .prduct-detail-container .slider-small {
      position: relative;
      padding: 0 55px;
      margin-bottom: 10px;
      margin-top: 10px; }
      .prduct-detail-container .slider-small .slider-preview {
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        cursor: pointer;
        outline: none; }
      .prduct-detail-container .slider-small .slick-current,
      .prduct-detail-container .slider-small .slider-preview:hover {
        border: 1px solid #cfcfcf; }
      .prduct-detail-container .slider-small:hover .slick-arrow {
        display: inline-flex !important; }
    .prduct-detail-container .slider .slick-track {
      display: flex; }
    .prduct-detail-container .slider .slick-arrow {
      display: none !important;
      z-index: 10;
      cursor: pointer;
      border: unset;
      width: 40px;
      height: 40px;
      border-radius: 40px !important;
      background-color: #f9f9f9;
      -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      outline: none;
      align-items: center; }
      .prduct-detail-container .slider .slick-arrow.slick-prev {
        transform: translateX(-55px) translateY(-50%); }
      .prduct-detail-container .slider .slick-arrow.slick-next {
        transform: translateX(-5px) scale(-1, 1) translateY(-50%);
        right: 0; }
      .prduct-detail-container .slider .slick-arrow::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000b4a;
        border-left: 2px solid #000b4a;
        transform: rotate(-45deg) translate(7px, 7px); }
  @media all and (max-width: 767px) {
    .prduct-detail-container .product-btn {
      float: left;
      width: 100%;
      display: flex;
      justify-content: center; } }
  .prduct-detail-container .product-left {
    flex: 0.7;
    margin-right: 20px; }
    @media all and (max-width: 767px) {
      .prduct-detail-container .product-left {
        margin-right: unset; } }
  .prduct-detail-container .product-right {
    flex: 1; }
  .prduct-detail-container .product-about-head {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 14px; }
  .prduct-detail-container .product-about-sub {
    margin-bottom: 22px;
    font-size: 19px;
    line-height: 26px;
    font-weight: 600; }
  .prduct-detail-container .product-description {
    margin-bottom: 40px;
    clear: both;
    float: left; }
    .prduct-detail-container .product-description p {
      margin-bottom: 25px; }

.iframe-video {
  position: relative;
  padding-bottom: 56.25%; }
  .iframe-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media all and (max-width: 767px) {
  .partners-container .cards-slider .tns-controls {
    width: calc(100% + 70px);
    transform: translateX(-35px) translateY(-15px); } }

@media all and (max-width: 767px) {
  .partners-container .cards-slider {
    padding: 0 35px; } }

.one-banner .one-large-slide {
  width: 100%; }

.scrollFade {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15px;
  z-index: 10;
  background: rgba(237, 237, 237, 0);
  background: -moz-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 0)), color-stop(53%, rgba(246, 246, 246, 0.53)), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
  background: -o-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
  background: -ms-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
  background: linear-gradient(to right, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=1); }

.popup-form {
  padding-top: 150px;
  padding-bottom: 50px;
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-self: center; }
  @media all and (max-width: 992px) {
    .popup-form {
      max-width: 650px; } }
  .popup-form-container {
    height: calc(100vh - 125px);
    transform: translateY(125px); }
    @media all and (max-width: 992px) {
      .popup-form-container {
        height: calc(100vh - 200px);
        transform: translateY(200px); } }
    @media all and (max-width: 767px) {
      .popup-form-container {
        transform: translateY(70px);
        height: calc(100vh - 70px); } }
  .popup-form__name {
    font-weight: 900;
    font-size: 27px;
    line-height: 26px;
    color: #26f8f8;
    margin-bottom: 35px;
    text-transform: capitalize; }
    @media all and (max-width: 992px) {
      .popup-form__name {
        font-size: 26px;
        margin-bottom: 7px; } }
  .popup-form .required {
    float: left;
    text-align: left;
    display: block;
    width: 100%;
    font-size: 17px; }
    @media all and (max-width: 767px) {
      .popup-form .required {
        text-align: center;
        font-size: 16px; } }
  .popup-form form {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    padding-top: 45px;
    margin-bottom: 10px; }
    .popup-form form input,
    .popup-form form textarea {
      border: unset;
      background-color: transparent;
      color: #fff;
      opacity: .7;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      outline: none !important;
      line-height: 30px;
      font-size: 18px;
      margin-bottom: 50px; }
      .popup-form form input::placeholder,
      .popup-form form textarea::placeholder {
        color: #fff; }
      @media all and (max-width: 767px) {
        .popup-form form input,
        .popup-form form textarea {
          margin-bottom: 30px;
          font-size: 16px; } }
    .popup-form form input[type="text"]:nth-last-of-type(1) {
      margin-bottom: 5px; }
    .popup-form form .textarea-label {
      color: #fff;
      opacity: .7;
      text-align: left;
      font-size: 16px; }
    .popup-form form textarea {
      border: 1px solid rgba(255, 255, 255, 0.7); }
    .popup-form form input[type="submit"] {
      width: 200px; }
  .popup-form .form-submit {
    color: #26f8f8 !important;
    border: 1px solid #26f8f8;
    max-width: 190px;
    margin: 0 auto; }

.background-transparent {
  background-color: transparent; }

.white-bg {
  background-color: #fff; }

.margin-b-0 {
  margin-bottom: 0; }

.font-default {
  text-transform: unset !important;
  font-size: 16px !important; }

.font-grey {
  color: #878787 !important; }

.startups-wrapper {
  margin-bottom: 90px; }
  .startups-wrapper .includes-list {
    padding-top: 30px; }

.expert-product-block {
  border-bottom: 1px solid #acacac;
  padding-bottom: 75px; }
  @media all and (max-width: 767px) {
    .expert-product-block .row-buttons:not(.row-buttons-mobile) {
      display: none; } }

.photo-single {
  flex-direction: column;
  display: flex;
  justify-content: center; }
  .photo-single-outer {
    display: flex;
    justify-content: center;
    margin-bottom: 25px; }

.row-buttons-mobile {
  opacity: 0; }
  @media all and (max-width: 767px) {
    .row-buttons-mobile {
      opacity: 1; } }

.login-soc-buttons {
  display: flex;
  justify-content: center; }
  @media all and (max-width: 767px) {
    .login-soc-buttons {
      transform: scale(0.7); } }

.login-btn {
  min-height: 50px;
  border: 1px solid #fff;
  border-left: 50px solid #fff;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 600;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer; }
  .login-btn__fb::before {
    background-image: url("../icons/fb.svg"); }
  .login-btn__google::before {
    background-image: url("../icons/google.svg"); }
  .login-btn::before {
    content: '';
    position: absolute;
    left: -50px;
    width: 50px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center; }

.line-trough-styled {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 40px 0; }
  @media all and (max-width: 767px) {
    .line-trough-styled {
      width: 100%;
      max-width: 400px; } }
  .line-trough-styled span {
    padding: 0 25px;
    font-size: 18px;
    z-index: 20;
    position: relative; }
    .line-trough-styled span::before, .line-trough-styled span::after {
      content: '';
      position: absolute;
      top: 50%;
      display: block;
      width: 115px;
      height: 1px;
      background-color: #fff; }
      @media all and (max-width: 767px) {
        .line-trough-styled span::before, .line-trough-styled span::after {
          width: 60px; } }
    .line-trough-styled span::before {
      left: -100px; }
      @media all and (max-width: 767px) {
        .line-trough-styled span::before {
          left: -55px; } }
    .line-trough-styled span::after {
      right: -100px; }
      @media all and (max-width: 767px) {
        .line-trough-styled span::after {
          right: -55px; } }

.have-acc {
  line-height: 40px; }
  .have-acc a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: currentColor; }
  @media all and (max-width: 767px) {
    .have-acc {
      font-size: 16px;
      line-height: 28px; } }

.form-checkboxes {
  margin-bottom: 45px; }

.login-actions {
  padding: 35px 0;
  display: flex;
  justify-content: center; }
  .login-actions .login-action-btn {
    padding: 0 15px;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: currentColor;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-left: -1px; }
    .login-actions .login-action-btn:nth-child(1) {
      border-left: unset; }
    .login-actions .login-action-btn:nth-last-child(1) {
      border-right: unset; }
    @media all and (max-width: 767px) {
      .login-actions .login-action-btn {
        font-size: 14px; } }

.personal-data-top {
  position: relative; }

.personal-data-in {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0px 5px; }
  @media all and (max-width: 992px) {
    .personal-data-in {
      grid-template-columns: 1fr 1fr; } }
  @media all and (max-width: 767px) {
    .personal-data-in {
      grid-template-columns: 100%; } }

.personal-data-edit .input-label {
  font-size: 14px;
  color: #7e7e7e;
  text-transform: capitalize; }

.personal-data-edit .input-block {
  margin-bottom: 20px; }

.personal-data .btn {
  font-size: 18px; }
  @media all and (max-width: 767px) {
    .personal-data .btn {
      width: 100%; } }

@media all and (max-width: 992px) {
  .personal-data {
    padding-bottom: 40px; } }

.profile-pic img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px; }

.profile-pic .edit-link {
  width: max-content;
  margin: 0 auto;
  color: #7e7e7e;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-color: currentColor;
  cursor: pointer; }

@media all and (max-width: 992px) {
  .profile-pic {
    grid-column: 1 / span 2;
    margin-bottom: 55px; } }

@media all and (max-width: 767px) {
  .profile-pic {
    grid-column: 1; } }

.personal-events {
  padding-top: 40px; }
  .personal-events::nth-last-child(1) {
    margin-bottom: 15px; }
  .personal-events__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .personal-events__card {
    display: flex;
    justify-self: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: calc(33% - 5px);
    color: #000; }
    @media all and (max-width: 992px) {
      .personal-events__card {
        width: 50%; } }
    @media all and (max-width: 767px) {
      .personal-events__card {
        width: 100%; } }
    .personal-events__card .add-link {
      font-size: 16px;
      text-decoration-color: currentColor;
      text-decoration: underline; }
    .personal-events__card .card-logo {
      position: relative;
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #d9d9d9;
      background-color: #fff; }
      .personal-events__card .card-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .personal-events__card > div {
      margin-bottom: 15px; }
    .personal-events__card .card-name {
      font-weight: 700;
      font-size: 26px; }
      @media all and (max-width: 992px) {
        .personal-events__card .card-name {
          font-size: 24px; } }

.event-add {
  cursor: pointer;
  transition: all .3s; }
  .event-add:hover {
    filter: brightness(0.95); }
  .event-add .card-logo::after, .event-add .card-logo::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #f9f9f9;
    height: 18px;
    width: 120px;
    transform: translate(-50%, -50%); }
  .event-add .card-logo::after {
    transform: translate(); }
  .event-add .card-logo::before {
    transform: translate(-50%, -50%) rotate(90deg); }

.personal-edit__header {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  color: #464545;
  text-transform: capitalize; }
  @media all and (max-width: 992px) {
    .personal-edit__header {
      margin-bottom: 20px; } }
  @media all and (max-width: 767px) {
    .personal-edit__header {
      font-size: 20px;
      text-align: center; } }

.logout {
  float: right;
  color: #533fda !important;
  text-decoration: underline !important;
  text-decoration-color: currentColor !important;
  position: absolute;
  right: 0;
  top: 10px; }
  @media all and (max-width: 992px) {
    .logout {
      display: none; } }

.checkbox-group {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; }
  @media all and (max-width: 992px) {
    .checkbox-group {
      grid-template-columns: 1fr 1fr; } }
  @media all and (max-width: 767px) {
    .checkbox-group {
      grid-template-columns: 100%;
      gap: 0; } }

.input-file__preview {
  display: block;
  position: relative;
  border: 1px solid #cfcfcf;
  width: 295px;
  height: 295px;
  margin-bottom: 20px; }
  @media all and (max-width: 767px) {
    .input-file__preview {
      width: 255px;
      height: 255px;
      margin: 0 auto;
      margin-bottom: 20px; } }
  .input-file__preview i {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 5px;
    color: #000;
    font-weight: 700; }

.upload-styled {
  color: #8c8c8c;
  font-size: 14PX;
  padding: 15px 30px;
  border: 1px solid #cfcfcf;
  max-width: 295px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px; }
  @media all and (max-width: 767px) {
    .upload-styled {
      padding: 15px; } }
  .upload-styled input[type="file"] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1; }
  .upload-styled .select-file {
    color: #000;
    font-size: 14px;
    margin-right: 25px;
    text-decoration: underline;
    text-decoration-color: currentColor; }

.clearfix {
  overflow: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.startup-application {
  padding-top: 50px; }

.paragraph {
  margin-bottom: 30px; }
  .paragraph-header {
    color: #474747;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px; }
  .paragraph-content {
    border: 1px solid #cfcfcf;
    padding: 25px;
    color: #000;
    line-height: 28px;
    font-size: 20px; }
    @media all and (max-width: 767px) {
      .paragraph-content {
        padding: 15px;
        font-size: 16px; } }
  .paragraph p {
    margin-bottom: 35px; }

.startup-info {
  display: flex;
  margin-bottom: 20px; }
  @media all and (max-width: 767px) {
    .startup-info {
      flex-direction: column; } }

.startup-logo {
  flex: 3;
  flex-direction: column;
  margin-right: 20px; }
  @media all and (max-width: 767px) {
    .startup-logo {
      max-height: 250px;
      align-items: center;
      display: flex;
      margin: 0;
      margin-bottom: 25px; } }
  .startup-logo img {
    max-height: 250px;
    object-fit: contain; }

.startup-descr {
  flex: 9;
  flex-direction: column;
  color: #000; }
  .startup-descr .font-bold {
    color: #474747; }
  .startup-descr p {
    margin-bottom: 18px;
    line-height: 24px;
    font-size: 19px; }
  .startup-descr .footer-social {
    justify-content: flex-start;
    padding: 10px 0;
    margin-bottom: 25px; }
    .startup-descr .footer-social__logo {
      width: 35px;
      height: 35px;
      filter: sepia(1) invert(1) contrast(0.3) saturate(5.2) brightness(1.3) hue-rotate(-330deg); }
  .startup-descr a {
    color: #523eda; }

.startup-name {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 25px; }

.startup-page-wrapper {
  padding-top: 50px; }

.font-bold {
  font-weight: 700; }

.startup-link {
  margin-bottom: 40px; }
  .startup-link .head {
    font-weight: 700;
    color: #474747;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 5px; }
  .startup-link a {
    color: #523eda;
    text-decoration: underline;
    text-decoration-color: currentColor;
    font-size: 20px;
    line-height: 28px;
    display: block;
    word-break: break-all; }
    @media all and (max-width: 767px) {
      .startup-link a {
        font-size: 16px; } }
