@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}

@mixin media {
    @media all and (max-width: 1300px) {
        width: 100%;
        padding: 0px 15px;
    };
}

@mixin screen-sm {
    @media all and (max-width: 1300px) {
		@content;
	}
}

@mixin screen-mb {
    @media all and (max-width: 992px) {
		@content;
	}
}

@mixin screen-767 {
    @media all and (max-width: 767px) {
		@content;
	}
}