@import './variables.scss';
@import './mixins.scss';

body {
    font-family: 'Montserrat';
    font-weight: normal;
    color: $defaultFont;
    background-color: #f9f9f9;
}

html,
body {
    transition: all .3s;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;

    @include screen-767 {
        line-height: 32px;
    }
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.semibold {
    font-weight: 600;
}


.bold {
    font-weight: 700;
}

p {
    line-height: 28px;

    .sparse {
        line-height: 32px;
    }
}

.text-right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.text-violet {
    color: $violet;
}

.text-underline {
    border-bottom: 1px solid currentColor;
}

.header {
    background-color: #fff;

    &.page-menu-opened {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
}

.header-in {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include screen-mb {
        flex-direction: column;

        &>div {
            margin-bottom: 22px;
        }
    }

    @include screen-767 {
        flex-direction: row;

        .header-in {
            align-items: flex-start;
        }
    }
}

.logo {
    max-width: 180px;


    @include screen-sm {
        max-width: 85px;
    }

    @include screen-mb {
        max-width: 160px;
        margin-bottom: 5px !important;
        padding-top: 10px;
    }

    @include screen-767 {
        max-width: 130px;
        align-self: start;
        padding-left: 0px;
        padding-top: 0;
        margin-bottom: 0 !important;
    }

    img {
        width: 100%;
        margin: 20px 0px;
    }
}

a {
    text-decoration: unset;
    color: $defaultFont;

    &:visited,
    &:hover,
    &:active {
        text-decoration: unset;
        color: $defaultFont;
    }
}

li {
    text-decoration: unset;
    list-style: none;
}

.container {
    width: 1240px;
    margin: 0 auto;

    @include media;
}

.nav {

    .submenu-outer {
        position: absolute;
        right: 0;
        transition: all .3s;
        opacity: 0;
        z-index: -1;

        @include screen-767 {
            position: relative;
            height: 0;
            transition: all .3s;
        }
    }

    .submenu {
        padding: 25px 35px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        min-width: 210px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, .65);
        -moz-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, .65);
        box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, .65);

        @include screen-767 {
            padding: 0 60px;
            -webkit-box-shadow: unset;
            -moz-box-shadow: unset;
            box-shadow: unset;
        }

        ul {
            flex-direction: column;
            padding: 0;
        }

        li {
            width: 100%;
            display: block;
            margin-bottom: 25px;
            padding: 0;

            @include screen-767 {
                margin-bottom: 40px;
            }

            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            a {
                text-transform: unset;
                padding: 0;
                white-space: nowrap;
            }
        }
    }

    .arrow-menu {
        position: absolute;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-right: 1px solid #464545;
        border-bottom: 1px solid #464545;
        transform: rotate(45deg) translate(-5px, 5px);
        transition: all .3s;
        z-index: -1;
    }

    @include screen-767 {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: -300px;
        background-color: #fff;
        width: 300px;
        bottom: 0;
        padding-top: 80px;
        overflow: auto;
        height: max-content;
        padding-bottom: 0;
        transform: translate(0);
        transition: all .3s;

        &.menu-opened {
            transform: translate(-300px);
        }
    }

    @include screen-mb {
        margin-bottom: 25px;
    }

    ul {
        display: flex;

        li {
            position: relative;


            a {
                padding: 0px 20px;
            }

            &.submenu-opened {
                .submenu-outer {
                    position: relative;
                    opacity: 1;
                    height: auto;
                    padding: 25px 0;
                    padding-top: 40px !important;
                    z-index: 100;
                }

                .arrow-menu {
                    transform: rotate(45deg) translate(-2px, 8px) scale(-1, -1);
                }
            }

            &:hover {
                @media all and (min-width: 768px) {
                    .arrow-menu {
                        transform: rotate(45deg) translate(-2px, 8px) scale(-1, -1);
                    }
                }


                @media all and (min-width: 768px) {
                    .submenu-outer {
                        opacity: 1;
                        z-index: 100;
                        height: auto;
                        padding-top: 36px;
                    }
                }

                @include screen-sm {
                    .submenu-outer {
                        padding-top: 24px;
                    }
                }

                @include screen-767 {
                    .submenu-outer {
                        padding-top: 0;
                    }
                }
            }

            @include screen-767 {
                margin-bottom: 67px;
            }
        }

        @include screen-767 {
            flex-direction: column;
            padding: 0px 12px;
        }
    }

    a {
        font-size: 16px;
        text-transform: uppercase;

        @include screen-sm {
            font-size: 14px;
        }

        &:hover {
            color: $violet;
        }
    }

    >ul {
        max-height: calc(100vh - 55px);
        overflow: auto;
    }
}

.social {
    display: flex;

    @include screen-767 {
        transform: translateX(-10px);
        padding-right: 40px;
        padding-top: 20px;
    }

    @media screen and (max-width: 419px) {
        padding-right: 25px;
    }

    .log-in {
        a {
            color: $violet;
        }

        text-transform: uppercase;
        font-weight: 500;
        padding-left: 18px;
        transform: translateY(4px);
        font-size: 12px;

        @include screen-mb {
            display: none;
        }

        @include screen-767 {
            display: none;
        }

    }

    .soc-ico {
        display: inline-flex;
        width: 15px;
        height: 15px;
        background-size: contain;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0px 14px;

        @include screen-sm {
            box-sizing: content-box;
        }

        @include screen-mb {
            padding: 0px 20px;
        }

        @include screen-767 {
            padding: 0px 11px;
        }

        @media screen and (max-width: 419px) {
            padding: 0 1.5vw;
        }

        svg {
            object-fit: contain;
            object-position: center;
        }
    }

    .fb {
        background-image: url('../icons/SocialNetworks/facebook.svg');

        &:hover,
        &:active {
            background-image: url('../icons/SocialNetworks/activColor/facebook.svg');
        }
    }

    .yt {
        background-image: url('../icons/SocialNetworks/youtube.svg');

        &:hover,
        &:active {
            background-image: url('../icons/SocialNetworks/activColor/youtube.svg');
        }
    }

    .tw {
        background-image: url('../icons/SocialNetworks/twitter.svg');

        &:hover,
        &:active {
            background-image: url('../icons/SocialNetworks/activColor/twitter.svg');
        }
    }

    .in {
        background-image: url('../icons/SocialNetworks/instagram.svg');

        &:hover,
        &:active {
            background-image: url('../icons/SocialNetworks/activColor/instagram.svg');
        }
    }

    .ln {
        background-image: url('../icons/SocialNetworks/linkedin.svg');

        &:hover,
        &:active {
            background-image: url('../icons/SocialNetworks/activColor/linkedin.svg');
        }
    }
}

.info {
    background-color: #26f8f8;
    font-weight: bold;
    color: #3c359c;
    font-size: 20px;
    line-height: 25px;
    padding: 0 10px;
    display: flex;
    justify-content: center;

    a {
        color: #3c359c;
    }

    @include screen-mb {
        font-size: 14px;
        padding: 2px 10px;
        font-size: 14px;
    }

    @include screen-767 {
        padding: 15px 25px;
        font-size: 18px;
        display: none;
    }
}

@keyframes opacity {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.main-slider {
    animation: opacity .5s;

    .slider-in {
        max-height: 600px;
    }

    .tns-controls {
        padding: 0px 25px;
        box-sizing: border-box;
        outline: none;
        height: 0;
        top: 50%;

        button {
            border-radius: 50% !important;
            background-color: rgba(17, 17, 17, 0.5);
            padding: 0;
            width: 35px;
            height: 35px;

            &::after {
                transform: rotate(-45deg) translate(1px, 1px);
            }
        }
    }

    .one-large-slide {
        background-color: #fff;
        display: inline-flex !important;
        transition: background-color .3s;
        height: $slider-height;
        min-height: $slider-min-height;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include screen-mb {
            height: $slider-height-tablet;
            min-height: $slider-min-height-tablet;
        }

        @include screen-767 {
            height: $slider-height-mobile;
            min-height: $slider-min-height-mobile;
        }

        .logo {
            position: absolute;
            display: none;
            width: 85px;
            max-width: unset;
            padding-top: 35px;

            @include screen-767 {
                display: none;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 50%;
            justify-content: center;
            padding-top: 35px;

            @include screen-767 {
                width: 100%;
            }

            >div {
                margin-bottom: 40px;
                color: #fff;
                font-size: 42px;
                font-weight: 600;
                line-height: 36px;

                @include screen-sm {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                @include screen-767 {
                    font-size: 20px;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
            }

            &__header {
                font-size: 60px !important;
                line-height: 60px !important;
                color: #74ff74 !important;
                font-weight: 700 !important;
                text-shadow: 0px 0px 3px #FFFFFF;

                @include screen-mb {
                    font-size: 40px !important;
                    line-height: 60px !important;
                }

                @include screen-767 {
                    font-size: 26px !important;
                    line-height: 35px !important;
                }
            }

            &__time {
                font-weight: unset !important;

                p {
                    margin-bottom: 10px;
                }
            }

            &__venue {
                text-transform: uppercase;
            }

            &__date {
                text-transform: uppercase;
            }
        }

        @include screen-mb {
            max-height: unset;
        }

        .particles-js-canvas-el {
            position: absolute;
        }

        >a {
            height: $slider-height;
            min-height: $slider-min-height;
            margin: 0 auto;
            width: 100%;

            @include screen-mb {
                height: 100%;
            }
        }

        img {
            display: block;
            height: 100%;
            margin: 0 auto;
            z-index: 100;
            width: 100%;
            object-fit: contain;
        }
    }
}

.mini-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 40px 0px;
    padding-bottom: 0px;


    @include screen-767 {
        grid-template-columns: 100%;
        padding-top: 0;
    }


    &-outer {
        margin: 0px 55px !important;

        @include screen-sm {
            margin: unset !important;
        }

        .tns-outer {
            margin: 0px 25px;
        }

        .tns-ovh {
            // margin: 0px 25px;
            box-sizing: border-box;
        }

        .tns-controls {
            transform: translateY(30%);
        }

    }


    .mini-slide {
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        height: 75px;

        @include screen-mb {
            height: 50px;
        }

        @include screen-767 {
            height: 75px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {

            // content: '';
            position: absolute;
            width: 40px;
            height: 100%;
            right: 0;
            top: 0;
            background-color: #fff;
            display: inline-block;
        }
    }

    .slider-description {
        height: 75px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 25px 15px;
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        font-size: 20px;

        @include screen-mb {
            font-size: 14px;
            padding: 20px 10px;
        }

        @include screen-767 {
            font-size: 20px;
            padding: 25px 15px;
        }
    }
}

.threexgrid {
    // &-container{
    //     float: left;
    // }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 0px;
    padding: 0px 75px;
    gap: 40px;

    .gcontent-outer:nth-child(2) {
        @include screen-767 {
            padding-bottom: 20px;
        }
    }

    @include screen-sm {
        padding: 0
    }

    @include screen-mb {
        gap: 0px;
        margin: 55px 0px;
        margin-bottom: 15px;
    }

    @include screen-767 {
        grid-template-columns: 100%;
        row-gap: 25px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .gcontent-outer {
        @include screen-767 {
            border-bottom: 1px solid #464545;
            padding-bottom: 40px;
        }
    }

    .gcontent-outer:nth-child(1) {
        border-right: 1px solid #464545;

        @include screen-767 {
            border-right: unset;
        }

        .gcontent {
            padding-left: 90px;

            @include screen-767 {
                padding-left: 0px;
                padding-top: 115px;
            }
        }
    }

    .gcontent-outer:nth-child(2) {
        .gcontent {
            padding-left: 90px;

            @include screen-767 {
                padding-left: 0px;
                padding-top: 120px;
            }
        }
    }

    .gcontent-outer:nth-child(3) {
        border-left: 1px solid #464545;


        @include screen-767 {
            border-left: unset;
            border-bottom: unset;
        }


        .gcontent {
            padding-left: 94px;

            @include screen-mb {
                padding-left: 72px;
            }

            @include screen-767 {
                padding-left: 0px;
                padding-top: 125px;
            }
        }
    }

    .gcontent {
        display: flex;
        flex-wrap: wrap;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 70px;
        max-width: 240px;
        background-size: contain;
        background-position: left center;
        height: 100%;

        @include screen-767 {
            background-size: 35px;
            margin: 0 auto;
            text-align: center;
            background-position: center top;
            max-width: 295px;
        }

    }

    .name {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 900;

        @include screen-mb {
            font-size: 18px;
        }

        @include screen-767 {
            width: 100%;
            font-size: 18px;
        }
    }

    .description {
        font-size: 16px;
        line-height: 18px;

        @include screen-mb {
            font-size: 14px;
        }

        @include screen-767 {
            font-size: 14px;
        }
    }

    .g1 {
        background-image: url("../icons/WhoWeAre/1.\ Top\ Biohacks\ \(DNA\).svg");
        background-size: 38px;

        @include screen-mb {
            background-size: 32px;
            background-position: 45px 10px;
        }

        @include screen-767 {
            background-size: 38px;
            background-position: center top;
        }
    }

    .g2 {
        background-image: url("../icons/WhoWeAre/2.\ Content\ \(Media\).svg");
        margin: 0 auto;
        background-size: 55px;
        // background-position: 5px 0px;

        @include screen-mb {
            background-size: 45px;
            background-position: 30px 10px;
        }

        @include screen-767 {
            background-size: 45px;
            background-position: center top;
            // background-position: unset;
        }


    }

    .g3 {
        background-image: url("../icons/WhoWeAre/3.\ Who\ We\ Are\ \(Community\).svg");
        float: right;
        background-size: 65px;

        @include screen-mb {
            background-size: 60px;
        }

        @include screen-767 {
            float: unset;
            background-size: 65px;
        }
    }
}

.subscribe {
    position: relative;
    background-color: #3c359c;
    color: #fff;
    padding: 30px 0px;
    // float: left;
    width: 100%;

    @include screen-mb {
        padding: 20px 0px;
        padding-bottom: 30px;
    }

    .particles-js-canvas-el {
        position: absolute;
        top: 0;
    }

    &_btn {
        border: unset !important;
        background-color: $red !important;
        width: 190px;
        text-transform: capitalize;

        @include screen-mb {
            min-width: unset !important;
            width: 120px;
            font-size: 16px !important;
            height: 35px !important;
        }

        @include screen-767 {
            width: calc(100% - 10px);
            font-size: 20px !important;
            line-height: 11px !important;
            height: 45px !important;
        }
    }

    &-in {
        display: flex;

        @include media;

        @include screen-sm {
            flex-direction: column;
        }
    }

    &-left {
        flex: 0 1 33%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        @include screen-sm {
            margin-bottom: 50px;
        }

        @include screen-mb {
            margin-bottom: 28px;
        }

        @include screen-767 {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 15px;
        }

        >div {
            padding: 0px 20px;
            display: inline-flex;
            align-items: center;
        }

        .join {
            flex: 0 1 40%;
            font-size: 24px;
            font-weight: bold;
            text-align: right;

            @include screen-sm {
                flex: 0 1 290px;
                line-height: 28px;
            }

            @include screen-767 {
                text-align: left;
                margin-bottom: 10px;
                flex: 0 1 auto;
                line-height: normal;
            }
        }

        .descr {
            flex: 1 0 70%;
            line-height: 20px;
            height: max-content;
            max-width: 350px;
            border-left: 1px solid #fff;

            @include screen-767 {
                line-height: 18px;
                font-size: 14px;
                border-left: unset;
            }
        }
    }

    @keyframes scale {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    &-main {
        display: flex;

        .subscribe_form {
            z-index: 10;
            display: flex;
            flex: 1;
            justify-content: center;

            @include screen-767 {
                flex-direction: column;
            }
        }



        .input-field {
            padding: 0px 20px;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;

            @media (max-width: 890px) and (min-width: 768px) {
                padding: 0px 15px;
            }

            @include screen-mb {}

            @include screen-767 {
                margin-bottom: 3px;
                padding: 0 30px;
            }


            .label {
                text-transform: capitalize;
                display: none;
                // @include screen-mb {
                //     display: none;
                // }

                // @include screen-767 {
                //     display: none;
                // }
            }

            &.field-submit {
                // margin-left: auto;
                padding-right: 0;

                @include screen-767 {
                    margin: unset;
                    padding-right: 20px;
                    margin-top: 22px;
                }
            }

            input {
                position: relative;
                background-color: transparent;
                border: unset;
                border-bottom: 1px solid #fff;
                color: #fff;
                outline: unset;
                padding: 5px 0px;
                transition: border-width 0.6s linear;
                transition: all .3s;
                border-radius: unset !important;

                // @media screen and (min-width: 993px){
                //     &::placeholder {
                //         color: transparent;
                //       }
                // }

                font-size: 15px;
                line-height: 25px;
                max-width: 150px;

                &::placeholder {
                    color: #fff;
                }

                @include screen-767 {
                    font-size: 18px;
                    line-height: 35px;
                    max-width: unset;

                    &::placeholder {
                        color: #fff;
                    }
                }

                &::after {
                    content: '';
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    height: 1px;
                    background-color: $red;
                    transition: width .3s;
                }

                &:focus {
                    border-bottom: 1px solid $red;
                }
            }


        }
    }
}

.tns-controls button {
    border-radius: 40px !important;
}

.upcoming-events {
    padding-top: 75px;
    margin-bottom: 135px !important;

    @include screen-mb {
        padding-top: 55px;
        margin-bottom: 45px !important;
    }

    @include screen-767 {
        padding-top: 60px;
        margin-bottom: 45px !important;
    }

    .no-slider .upcoming-events__event {
        padding: 0 15px;
    }

    &__list {
        display: flex;
        justify-content: center;

        @include screen-mb {
            // padding: 0px 25px;
        }

        @include screen-767 {
            padding: 0;
            padding-top: 10px;
        }

        a,
        .date {
            color: #010101;
        }
    }

    &__header {
        text-align: center;
        font-weight: 900;
        color: #464545;
        font-size: 36px;
        margin-bottom: 70px;

        @include screen-mb {
            font-size: 36px;
            margin-bottom: 45px !important;
        }

        @include screen-767 {
            font-size: 32px;
            margin-bottom: 45px !important;
            font-size: 28px;
        }
    }

    .tns-controls {
        top: 35%;
        height: 0;
        outline: none;
    }

    .tns-ovh {
        padding: 0px 25px;
    }

    &__event {
        width: 100%;

        // padding: 0 15px;

        @include screen-mb {
            // padding: 0px 10px;
        }

        @media screen and (min-width: 993px) {
            max-width: 290px;
        }

        .picture {
            margin-bottom: 15px;

            @include screen-mb {
                margin-bottom: 10px;
            }

            @include screen-767 {
                margin-bottom: 15px;
            }
        }

        .name {
            min-height: 70px;
            text-align: center;
            margin-bottom: 15px;

            @include screen-mb {
                min-height: 45px;
            }

            @include screen-767 {
                padding: 0 25px;
                min-height: 70px;
                margin-bottom: 5px;
            }

            a {
                font-size: 14px;
                font-weight: 600;

                @include screen-sm {
                    font-size: 12px;
                }

                @include screen-767 {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }

        .date {
            border-top: 1px solid #464545;
            display: flex;
            justify-content: space-between;
            padding: 12px 0px;

            @include screen-767 {
                margin: 0 25px;
            }

            &>div {
                padding: 3px 0px;
                padding-left: 20px;
                background-size: contain;
                background-position: left;
                background-repeat: no-repeat;
                font-size: 11px;
                text-transform: uppercase;

                @include screen-767 {
                    padding-left: 25px;
                }
            }

            .location {
                background-image: url('../icons/UpcomingEvents/Location.svg');
            }

            .calendar {
                background-image: url('../icons/UpcomingEvents/Calendar.svg');
            }

            .web {
                background-image: url('../icons/UpcomingEvents/webcam.svg');
            }
        }

        img {
            width: 100%;

            @include screen-767 {
                padding: 0 25px
            }
        }
    }
}

.footer {
    background-color: #464545;
    color: #fff;
    padding-bottom: 55px;
    margin-top: 0px;
    //margin-top: 135px;

    &-logo {
        width: 100px;
        height: 55px;

        @include screen-767 {
            height: 65px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-social {
        display: flex;
        justify-content: center;

        &__logo {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 0px 7px;
            box-sizing: content-box;

            &.fb {
                background-image: url("../icons/basement/fb.svg");
            }

            &.tw {
                background-image: url("../icons/basement/Tw.svg");
            }

            &.yt {
                background-image: url("../icons/basement/youtube.svg");
            }

            &.in {
                background-image: url("../icons/basement/instagram.svg");
            }

            &.ln {
                background-image: url("../icons/basement/Ln.svg");
            }
        }
    }

    .row-logo {
        padding-top: 35px;
        display: flex;
        justify-content: center;
    }

    .hashtag {
        text-align: center;
        font-size: 12px;
        margin-bottom: 25px;
    }

    .row-columns {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 50px 0;
        padding-bottom: 30px;

        @include screen-mb {
            padding: 55px 0;
            padding-bottom: 65px;
        }

        @include screen-767 {
            grid-template-columns: 1fr 1fr;
            padding: 35px 0;
            margin: 0 30px;
            padding-bottom: 30px;
        }

        .column-head {
            font-weight: bold;
            margin-bottom: 35px;
            text-transform: uppercase;
            font-size: 14px;

            @include screen-767 {
                margin-bottom: 28px;
            }
        }

        .footer-column {
            padding-left: 80px;

            @include screen-sm {
                padding-left: 0;
            }

            li {
                margin-bottom: 20px;
            }

            a {
                font-size: 12px;
                color: #fff;
            }
        }
    }
}

.tns {
    &-outer {
        position: relative;
    }

    &-controls {
        position: absolute;
        top: 40%;
        z-index: 10;
        width: 100%;
        transform: translateY(-50%);

        @include screen-767 {
            top: 47%;
        }

        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            background-color: transparent;
            border: unset;
            position: relative;
            outline: unset;
        }

        button::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            transform: rotate(-45deg);
            border-top: 2px solid #a2a2a2;
            border-left: 2px solid #a2a2a2;
            display: inline-block;
        }

        button[data-controls="prev"] {}

        button[data-controls="next"] {
            float: right;
            transform: scale(-1, 1);
        }
    }
}

button[data-action="stop"],
button[data-action="start"] {
    display: none;
}

.small_container {
    max-width: 1180px;
    margin: 0 auto;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.text-left {
    text-align: left !important;
}

.load-more-btn {
    padding: 15px 0px;
}

.subName {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;

}

button,
input[type="submit"] {
    border-radius: unset !important;
    -webkit-appearance: none;
    background-color: unset;
}

.btn {
    min-width: 150px;
    height: 50px;
    border: unset;
    background-color: $red;
    color: #fff !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    padding: 0 20px;

    @include screen-mb {
        min-width: 190px;
        height: 45px;
        font-size: 17px;
    }

    @include screen-767 {
        min-width: 160px;
        height: 50px;
        font-size: 17px;
    }

    &__small,
    &-small {
        min-width: 125px;
        height: 40px;
        font-size: 16px;
    }

    &__xs,
    &-xs {
        height: 27px;
        min-width: 100px;
        font-size: 10px;
    }

    &.secondary,
    &-secondary {
        background-color: unset;
        color: $violet !important;
        border: 1px solid $violet;
    }

    &-rounded {
        border-radius: 25px;
    }
}


// events-list
.list-event,
.blog-post-in {
    padding: 30px 25px;
    display: flex;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    margin-bottom: 25px;

    @include screen-767 {
        flex-direction: column;
    }

    .row {
        &-name {
            font-size: 28px;
            font-weight: bold;

            a {
                color: #000;
            }
        }

        &-type {
            text-transform: uppercase;
        }

        &-date {
            font-size: 16px;

            >div {
                display: inline-block;
            }

            .place {
                font-weight: bold;
                color: $violet;
                text-transform: uppercase;
            }
        }

        &-descr {
            line-height: 25px;
        }

        &-btn {}
    }

    .prewiew {
        flex-grow: 2;

        margin-right: 15px;

        img {
            width: 100%;
        }

        @include screen-sm {
            flex-grow: 4;
            flex-shrink: 4;
        }

        @include screen-767 {
            margin-bottom: 15px;
            margin-right: 0;
        }
    }

    .description {
        color: #000;
        flex-grow: 10;

        >div {
            margin-bottom: 15px;
        }

        @include screen-sm {
            flex-shrink: 8;
        }
    }
}

.blog-post {
    .prewiew {
        padding-top: 50px;
        max-width: 460px;
        margin-right: 30px;

        @include screen-767 {
            margin-right: unset;
            padding-top: 0;
        }
    }

    .row-type {
        margin-bottom: 10px !important;
    }

    .heading-row {
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        padding: 5px 0;
        padding-bottom: 0;
        margin-bottom: 10px !important;

        >div {
            display: inline-flex;
        }

        .date {
            margin-right: 15px;
            vertical-align: bottom;
            margin-bottom: 5px;

            @include screen-767 {
                width: 100%;
                display: block;
            }
        }

        .btn {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }


    &-in {
        // padding-top: 0;
        // border: unset;
    }
}

// cards slider

.slider-section {
    padding-top: 45px;

    @include screen-mb {
        padding-top: 45px;
    }

    @include screen-767 {
        padding-top: 40px;
    }

    .upcoming-events__header {
        margin-bottom: 50px;

        @include screen-mb {
            margin-bottom: 40px;
        }

        @include screen-mb {
            margin-bottom: 25px;
        }
    }
}

.cards-slider {
    margin-bottom: 35px;

    @include screen-767 {
        margin-bottom: 45px;
    }

    @include screen-sm {
        padding: 0px 25px;
    }

    @include screen-mb {
        padding: 0;
    }

    @include screen-767 {
        padding: 0;
    }

    &-header {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 25px;
        text-align: center;

        @include screen-767 {
            font-size: 22px;
            margin-top: -20px;
        }
    }

    &-in {
        margin: 0 auto;
        display: flex;
        align-items: stretch;

        &__gold,
        &__silver {
            .picture {
                @include screen-mb {
                    height: 140px !important;
                }

                @include screen-767 {
                    height: 80px !important;
                }
            }

            .slide-card-in {
                @include screen-767 {
                    padding: 15px !important;
                }
            }
        }
    }

    .slide-card-in {
        width: 100%;
        height: 100%;
        border: 1px solid #cfcfcf;
        padding: 30px;
        background-color: #fff;
        min-height: 680px;
        flex-direction: column;
        display: flex;

        @include screen-767 {
            padding: 30px 15px;
            min-height: 630px;
        }



        .top {

            @include screen-767 {
                margin-bottom: 0;
            }
        }

        .slide_info {
            flex: 1;
            display: flex;
            flex-direction: column;

            >div {
                margin-bottom: 20px;
                text-align: center;
                word-break: break-word;
            }

            .btn-row {
                margin-top: auto;
            }
        }

        .name {
            font-weight: bold;
            font-size: 24px;
            color: #000;

            @include screen-mb {
                font-size: 20px;
            }

            @include screen-767 {
                font-size: 25px;
            }
        }

        .about {
            text-transform: uppercase;
            color: #464545;
        }

        .description {
            color: #000;
            font-weight: 500;
            line-height: 26px;

            @include screen-mb {
                font-size: 15px;
            }

            @include screen-767 {
                font-size: 17px;
            }
        }

        .picture {
            display: flex;
            justify-content: center;
            height: 240px;
            margin-bottom: 25px;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top;

                @include screen-767 {
                    height: 100%;
                    object-position: center;
                }
            }
        }
    }

    .tns-controls {
        height: 0;

        button {
            display: inline-flex;
            width: 40px;
            height: 40px;
            border-radius: 40px !important;
            background-color: #f9f9f9;
            -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);

            &[data-controls="prev"] {
                transform: translateX(-20px);

                @include screen-mb {
                    transform: unset;
                }
            }

            &[data-controls="next"] {
                transform: translateX(20px) scale(-1, 1);

                @include screen-mb {
                    transform: translateX(0) scale(-1, 1);
                }
            }

            &::after {
                transform: rotate(-45deg) translate(2px, 2px);
            }
        }
    }

    .tns-nav {
        display: flex;
        justify-content: center;
        padding: 15px 0px;
        margin-top: 25px;

        @include screen-mb {
            display: none;
        }

        button {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 14px !important;
            margin: 0px 7px;
            border: 1px solid #c4c4c4;
            background-color: #fff;
            outline: none;

            &.tns-nav-active {
                background-color: #dcdcdc;
            }
        }
    }

    .slide-card {
        &__square {
            .slide-card-in {
                min-height: 400px;
                height: max-content;

                @include screen-mb {
                    min-height: 250px;
                }

                @include screen-767 {
                    min-height: 185px;
                }
            }

            .picture {
                height: 275px;

                @include screen-mb {
                    height: 260px;
                }

                @include screen-767 {
                    height: 220px;
                }

                img {
                    object-fit: contain;
                    height: 100%;
                }
            }

            .about {
                text-transform: unset;
                margin-bottom: 0px !important;
            }
        }

        &__wide {
            .slide-card-in {
                display: flex;
                padding: 45px 105px;
                min-height: unset;
                flex-direction: row;

                @include screen-mb {
                    padding: 35px 60px;
                    padding-bottom: 10px;
                }

                @include screen-767 {
                    flex-direction: column;
                    padding: 30px;
                    text-align: center;
                    padding-bottom: 12px;
                }
            }

            .picture {
                width: 250px;
                margin-right: 65px;

                @include screen-mb {
                    width: 165px;
                    margin-right: 25px;
                }

                @include screen-767 {
                    width: 100%;
                    height: 320px;
                }
            }

            .slide_info {
                width: 100%;

                .short-intro {
                    margin-top: 20px;

                    @include screen-mb {
                        line-height: 25px;
                    }

                    @include screen-767 {
                        line-height: 24px;
                    }
                }

                >div {
                    text-align: left;
                    line-height: 25px;
                    margin-bottom: 8px;

                    @include screen-mb {
                        margin-bottom: 20px;
                        line-height: 18px;
                    }

                    @include screen-767 {
                        text-align: center;
                        margin-bottom: 14px;
                        line-height: 24px;
                    }
                }

                .name {
                    @include screen-767 {
                        font-size: 22px;
                    }
                }

                .description {
                    @include screen-mb {
                        margin-bottom: 10px !important;
                    }

                    @include screen-767 {
                        margin-bottom: 0px !important;
                    }
                }

                .about {
                    @include screen-mb {
                        margin-bottom: 12px !important;
                    }

                    @include screen-767 {
                        margin-bottom: 4px !important;
                    }
                }
            }
        }
    }
}


// map
.map-container,
#map {
    height: 530px;

    @include screen-mb {
        height: 440px;
    }

    @include screen-767 {
        height: 400px;
    }
}

.map {
    margin-bottom: 0px;

    .upcoming-events__header {
        margin-bottom: 35px;

        @include screen-767 {
            margin-bottom: 25px !important;
        }
    }

    .event-address {
        text-align: center;
        color: #464545;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 35px;

        @include screen-767 {
            font-size: 22px;
            padding: 0 25px;
            line-height: 25px;
            margin-bottom: 20px;
        }
    }
}

// table
.table-agenda {
    position: relative;
    background-color: #3c359c;
    color: #fff;
    padding: 50px 0px;

    @include screen-767 {
        padding: 40px 0px;
        padding-bottom: 55px;
    }

    .table-header {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 35px;

        @include screen-mb {
            margin-bottom: 30px;
        }

        @include screen-767 {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }

    .btn {
        border-color: #fff !important;
        color: #fff !important;
    }

    .time {
        font-weight: 900;

        @include screen-767 {
            font-size: 13px;
        }
    }
}

.table-container {
    position: relative;

    @media (pointer: coarse) {
        overflow: scroll;
    }
}

.table-styled {
    width: 100%;
    border: 0px;
    margin-bottom: 50px;

    tr,
    td {
        border: 0px;
    }

    tr {
        color: #fff;
        background-color: #3c359c;
    }

    tr:nth-child(2n) {
        background-color: #635db0;
    }

    td {
        padding: 20px 15px;
        line-height: 22px;

        @include screen-mb {
            padding: 10px 15px;
            min-width: 125px;
        }

        @include screen-767 {
            padding: 9px 12px;
            font-size: 14px;
        }
    }
}

.default-section {
    background-color: #fff;
    color: #000;
    padding: 50px 0px;
    margin-top: 50px;

    @include screen-mb {
        padding: 15px 0px;
    }

    &__container {
        padding: 0px 70px;

        @include screen-mb {
            padding: 0px 55px;
        }

        @include screen-767 {
            padding: 0px 17px;
        }
    }

    &__head {
        font-size: 22px;
        text-transform: uppercase;
        line-height: 26px;
        margin-bottom: 35px;

        @include screen-mb {
            margin-bottom: 30px;
        }

        @include screen-767 {
            font-size: 24px;
        }
    }

    p {
        line-height: 26px;
        margin-bottom: 35px;
        word-break: break-word;

        @include screen-mb {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }

    .btn-row {
        padding: 35px 0px;

        @include screen-767 {
            padding: 10px 0px;
        }
    }
}

.event-header {
    color: #464545;
    text-align: center;
    margin-bottom: 40px;

    &__name {
        font-size: 34px;
        margin-bottom: 45px;
        margin-top: 45px;
        font-weight: 500;
        line-height: 40px;

        @include screen-mb {
            line-height: 32px;
            font-size: 28px;
        }

        @include screen-767 {
            font-size: 21px;
            line-height: 28px;
            margin-bottom: 22px;
            margin-top: 32px;
        }
    }

    &__subame {
        font-size: 26px;
        margin-bottom: 30px;

        @include screen-mb {
            margin-bottom: 25px;
        }

        @include screen-767 {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
}

.ticket-information {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    padding: 50px 40px;

    &__head {
        font-size: 32px;
        font-weight: 900;
        text-align: center;
        color: #000;
    }
}

.is-closed {
    &__head {
        font-size: 28px;
        font-weight: 900;
        text-align: center;
        color: #000;
        padding: 25px 0px;
        margin-bottom: 25px;
    }
}

//events list
.upcoming-events__container {
    margin-top: 65px;

    .upcoming-events__header {
        margin-bottom: 30px;
    }
}

.events-list-container {
    padding-top: 35px;
}

.filter-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 25px;

    @include screen-767 {
        grid-template-columns: 100%;
    }

    .one-filter {
        width: 100%;
        position: relative;

        .input-outer {
            position: relative;

            &::after {
                position: absolute;
                right: 10px;
                top: calc(50% - 12px);
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url("../icons/arrow.svg") no-repeat center;
                transition: all .3s;
            }

            &.opened::after {
                transform: scale(1, -1);
            }

            &.can_search::after {
                background: url("../icons/search.svg") no-repeat center;
                transform: unset !important;
            }
        }

        .filter-input {
            min-height: 45px;
            display: flex;
            align-items: center;
            padding: 0px 20px;
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            text-transform: capitalize;
            border: 1px solid #cfcfcf;
            padding-right: 55px;

            &:disabled {
                background-color: #fff;
            }
        }

        .open-filter {
            padding: 40px 30px;
            background-color: #fff;
            border: 1px solid #cfcfcf;
            transform: translateY(-1px);
            position: absolute;
            width: 100%;
            z-index: 10;

            .btn-controls {
                padding: 40px 0px;
                padding-top: 0px;

                >span {
                    width: 140px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    cursor: pointer;

                    @include screen-767 {
                        width: calc(50% - 10px);
                    }
                }

                .select {
                    text-decoration: underline;
                    color: $violet;
                    text-decoration-color: currentColor;
                }
            }

            li {
                margin-right: 15px;
                width: 100%;
            }

            label {
                display: flex;
                width: 100%;
                align-items: center;
                margin-bottom: 15px;
            }
        }
    }
}

.styled_checkbox {
    i {
        position: relative;
        width: 17px;
        height: 17px;
        display: inline-block;
        border: 1px solid #cfcfcf;
        margin-right: 15px;
    }

    label {
        font-size: 16px;
        color: #626262;
    }

    input[type="checkbox"] {
        width: 0px;
        height: 0px;
        visibility: hidden;
        position: absolute;
        z-index: -1;

        &:checked+i::after {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 15px;
            height: 15px;
            background: url("../icons/check.svg") no-repeat center;
            background-size: 80%;
        }
    }

    &-form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
        cursor: pointer;

        i {
            width: 10px;
            height: 10px;
            flex: 0 0 10px;
            margin-right: 10px;
        }

        a {
            color: #fff;
            text-decoration: underline !important;
            text-decoration: currentColor;
        }

        input[type="checkbox"] {
            &:checked+i::after {
                // content: '';
                width: 6px;
                height: 6px;
                left: 1px;
                top: 1px;
                display: block;
                background-color: #fff;
                background-image: unset;
            }
        }
    }

    &__small {
        i {
            width: 12px;
            height: 12px;
            flex: 0 0 12px;
        }

        input[type="checkbox"] {
            &:checked+i::after {
                width: 4px;
                height: 4px;
                left: 2px;
                top: 2px;
                transform: rotate(45deg);
                background-color: transparent;
                border-bottom: 1px solid $violet;
                border-right: 1px solid $violet;

            }
        }
    }

}

.events-section-list {
    margin-bottom: 60px;

    .no-results {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }
}

.text-center {
    text-align: center;
}

sup,
sub {
    font-size: .5em;
}

.is-closed {
    img {
        width: 100%;
    }
}

.form-simple {
    padding: 0px 210px;
    border: 1px solid $border-color;
    background-color: #fff;
    margin: 40px 0px;

    @include screen-sm {
        padding: 0px 70px;
    }

    @include screen-767 {
        padding: 0px 15px;
    }

    form {
        padding: 50px 0px;

        @include screen-767 {
            padding: 15px 0px;
        }
    }

    .btn {
        // @include screen-767 {
        //     width: 100%;
        // }
    }
}

.form-wrapper {
    color: #010101;
}

.input-block {
    margin-bottom: 35px;

    .input-label {
        color: #010101;
        font-size: 18px;
        line-height: 32px;
        word-break: break-word;
    }

    .input-hint {
        font-size: 16px;
        color: #8c8c8c;
        line-height: 20px;
        padding: 5px 0;
        word-break: break-word;
        float: left;
    }

    .input-hint-right {
        font-style: italic;
        float: right;
        font-size: 12px;
    }

    .chars-left {
        color: $violet;
    }

    input[type="text"],
    textarea {
        border: 1px solid $border-color;
        font-size: 18px;
        padding: 7px;
        min-height: 45px;
        width: 100%;
    }

    i {
        color: $violet;
    }
}

.col-50 {
    display: flex;

    @include screen-mb {
        flex-direction: column;
    }

    >div {
        flex: 1;

        @include screen-767 {
            margin-bottom: 25px;
        }
    }
}


.col-33 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    // @include screen-sm{
    //     grid-template-columns: 100%;
    // }

    @include screen-767 {
        grid-template-columns: 100%;
        row-gap: 25px;
    }
}

.after-part>* {
    margin-bottom: 40px;
}

.become-speaker {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    color: #010101;

    @include screen-mb {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @include screen-767 {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    &__pt1 {
        // padding-bottom: 50px;
        margin-bottom: 40px;

        @include screen-767 {
            margin-bottom: 0;
        }

        .img-part {
            padding-right: 40px;
            flex: 1.4;
            min-height: 550px;

            @include screen-mb {
                padding-right: unset;
                margin-bottom: 25px;
            }

            @include screen-767 {
                margin-bottom: 45px;
            }
        }

        .descr-part {
            justify-content: center;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 50px;

            .btn {
                position: absolute;
                bottom: 0;
                left: 40px;

                @include screen-mb {
                    left: 50%;
                    transform: translateX(-50%);
                }

                @include screen-767 {
                    left: 50%;
                    transform: translateX(-50%);
                    min-width: 190px;
                }
            }

            .descr-container {
                @include screen-mb {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .upcoming-events__header {
                text-align: center;
                margin-bottom: 30px !important;
                padding: 0 40px;
            }

            p {
                margin-bottom: 35px;
                padding: 0 40px;
                font-size: 18px;

                @include screen-767 {
                    padding: 0;
                    line-height: 26px;
                }
            }
        }
    }
}

.opportunities-list {
    color: #010101;
    padding-top: 35px;

    @include screen-mb {
        padding-top: 50px;
    }

    @include screen-767 {
        padding-top: 40px;
    }

    &-items {
        margin: 40px 0px;

        @include screen-767 {
            margin: 35px 0px;
        }
    }

    .list-item {
        padding-left: 105px;
        background-position: 10px 25px;
        background-repeat: no-repeat;
        background-size: 60px;
        margin-bottom: 40px;
        min-height: 80px;
        font-size: 20px;

        @include screen-mb {
            background-position: 17px center;
            background-size: 65px;
            margin-bottom: 28px;
        }

        @include screen-767 {
            padding-left: 0;
            padding-top: 70px;
            background-position: 50% top;
            font-size: 17px;
            text-align: center;
            margin-bottom: 45px;

            p {
                line-height: 27px;
            }
        }

        &__congress {
            background-image: url('../images/atoms.svg');
        }

        &__meetup {
            background-image: url('../images/meetup.svg');


        }

        &__webinar {
            background-image: url('../images/webinar.svg');


        }

        &__groups {
            background-image: url('../images/groups.svg');


        }
    }
}

.shifted-blocks {
    color: #010101;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;

    @include screen-mb {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    @include screen-767 {
        padding-bottom: 50px;
    }

    &-in {
        display: flex;
        flex-direction: column;
    }

    &__item {
        flex: 1;
        display: flex;
        margin-bottom: 25px;

        >div {
            flex: 1;

            @include screen-mb {
                padding: 0 !important;
                display: flex;
                justify-content: center;
                margin-bottom: 8px;
            }

            @include screen-767 {
                margin-bottom: 12px;
            }
        }

        @include screen-mb {
            flex-direction: column;
        }

        &.shift-left {
            flex-direction: row-reverse;



            @include screen-mb {
                flex-direction: column;
            }

            .shifted-blocks__description {
                padding-left: 30px;


                @include screen-767 {
                    padding-left: 0;
                }
            }
        }

        &.shift-right {
            .shifted-blocks__description {
                padding-right: 30px;

                @include screen-mb {
                    padding: 0 45px !important;
                }

                @include screen-767 {
                    padding-right: 0;
                    padding: 0 !important;
                    text-align: left;
                    font-size: 18px;

                    p {
                        line-height: 26px;
                    }
                }
            }
        }

        @include screen-767 {
            flex-direction: column;
        }
    }

    &__picture {
        img {
            width: 100%;
            height: 100%;
            max-width: unset;
        }
    }

    &__description {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;

        @include screen-mb {
            order: 1;
            text-align: center;
        }

        p {
            margin-bottom: 30px;
            line-height: 30px;

            @include screen-767 {
                text-align: left;
                line-height: 26px;
            }

            &::nth-last-child(1) {
                margin-bottom: 0;
            }
        }

        .btn {
            margin-top: 25px;

            @include screen-mb {
                margin-top: 0px;
                max-width: 235px;
                align-self: center;
            }
        }
    }
}

.parallax-banner {
    /* The image used */
    background-image: url("../images/Banner.png");

    /* Set a specific height */
    height: $slider-min-height;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &.col-25 {
        justify-content: flex-start;

        .card-list__card {
            flex: 0 1 calc(25% - 25px);
            margin-right: 20px;
            min-height: 320px;


            .card-picture {
                height: 170px;
            }

            @include screen-mb {
                flex: 0 1 calc(50% - 25px);
            }

            @include screen-767 {
                flex: 0 1 calc(100%);
                margin-right: 0;
            }
        }

    }

    &.funds {
        .card-list__card {
            @media (min-width: 768px) and (max-width: 992px) {
                flex: 0 1 calc(33% - 20px);
            }
        }
    }

    &__card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 0 1 calc(33% - 20px);
        margin-bottom: 20px;
        border: 1px solid $border-color;
        background-color: #fff;
        padding: 30px;
        text-align: center;
        color: #010101;
        min-height: 425px;

        @include screen-767 {
            flex: 100%;
        }

        .card-picture {
            // height: 170px;
            height: 200px;
            margin-bottom: 22px;
            display: flex;
            justify-content: center;

            img {
                display: block;
                margin: 0 auto;
                object-fit: contain;
            }
        }


        .card-name {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-descr {
            text-transform: uppercase;
            color: #464545;
            line-height: 28px;
            margin-bottom: 10px;
        }

        .card-social {
            margin-top: auto;

            .soc-ico {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url("../images/Ln.svg") no-repeat;
                background-size: contain;

            }
        }

        .btn {
            width: 130px;
            height: 35px;
            min-width: unset;
            margin: 0 auto;
            font-size: 12px;
            margin-top: 25px;
        }
    }
}

.include-item {
    display: flex;
    flex-direction: column;
    text-align: center;

    .ico {
        min-height: 110px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 90px;
        height: 90px;
        display: block;
        margin: 0 auto;

        &.calendar {
            background-image: url("../images/calendar-ico.svg");
        }

        &.call-center {
            background-image: url("../images/call-center.svg");
        }

        &.social-circle {
            background-image: url("../images/circle-contacts.svg");
        }
    }

    .label {
        font-size: 20px;
        line-height: 28px;
    }
}

.check-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 45px;
    column-gap: 120px;

    @include screen-mb {
        padding: 0;
        gap: 0;
    }

    @include screen-767 {
        grid-template-columns: 100%;
    }

    .check-element {
        min-height: 55px;
        padding-left: 55px;
        background-image: url("../images/CheckMark.svg");
        background-repeat: no-repeat;
        background-position: 10px 0px;
        background-size: 30px;
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 32px;
    }
}

.contact-us-container {
    padding-top: 135px;
    background-image: url("../images/triangles-top.png");
    background-size: 1000px;
    background-repeat: repeat-x;
    margin-bottom: 90px;
}

.contact-form-head {
    font-size: 18px;
    padding-top: 15px;

    >p {
        margin-bottom: 12px;
    }
}

.slogan {
    padding: 25px 0px;

    @include screen-767 {
        font-size: 18px;
        padding: 2px 0;

        p {
            line-height: 26px;
        }
    }
}

.about-us {
    padding-top: 0;
    padding-bottom: 70px;
    background-color: #fff;
    margin-bottom: 25px;

    @include screen-767 {
        padding-top: 0px;
        padding-bottom: 35px;
    }

    .upcoming-events__header {
        margin-bottom: 50px;

        @include screen-767 {
            margin-bottom: 35px !important;
        }
    }
}

.who-we-are {
    padding-top: 45px;
    background-color: #fff;

    .upcoming-events__header {
        margin-bottom: 40px;
    }
}

.includes-container {
    padding: 45px 0px;
    color: #010101;

    @include screen-767 {
        padding-bottom: 0;
    }

    .includes-list {
        padding: 50px 0px;

        @include screen-767 {
            padding-bottom: 0;
        }
    }
}

.become-part {
    color: #010101;

    h3 {
        padding: 45px 0px;
    }
}

.our-team {
    padding-top: 50px;

    .btn-row {
        padding-top: 30px;
    }

    @include screen-767 {
        padding-top: 45px;
    }

    .upcoming-events__header {
        margin-bottom: 40px;
    }
}

//blog-list

.blog-list {
    margin-bottom: 25px;
}

.row-tags {
    padding: 25px 0;
    margin-bottom: 10px;


    .btn {
        min-width: 140px;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 20px;
    }
}

//blog-detail
.blog-banner {
    display: flex;
}

.blog-detail {
    color: #000;
    padding: 0px 105px 75px 105px;
    background-color: #fff;
    border: 1px solid $border-color;
    margin-bottom: 80px;

    @include screen-767 {
        padding: 0px 15px 75px 15px;
    }

    h1 {
        font-weight: bold;
        margin-bottom: 55px;
    }

    h2 {
        font-size: 28px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 35px;
    }

    .heading-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        padding: 30px 0;
        margin-bottom: 15px;

        .tags {
            .btn {
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }

        .date {
            margin-left: auto;
        }
    }

    p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .post-origin {
        margin-top: 75px;

        &__author {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 20px;
        }

        &__source {
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

.paragraph-picture {
    padding-top: 5px;

    img {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        max-width: 50%;

        @include screen-767 {
            max-width: unset;
            width: 100%;
        }
    }
}

.text-emphasis {
    font-size: 24px !important;
    line-height: 30px !important;
}

.bio-slider {
    display: none;
    position: fixed;
    z-index: 1010;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 11, 74, 0.9);
    color: #fff;
    text-align: center;
    // display: flex;
    font-size: 18px;
    line-height: 28px;
    overflow: auto;

    .container {
        position: relative;
    }

    .close {
        position: absolute;
        right: 35px;
        top: 10vh;
        z-index: 120;
        cursor: pointer;
        font-weight: 600;

        @include screen-767 {
            right: 25px;
            top: 3vh;
        }
    }

    .tns-controls {
        position: fixed;
        top: 50vh;
        z-index: 110;
        width: 100%;
        transform: translateY(-50%);
        left: 0;

        @include screen-767 {
            display: none;
        }

        button {
            position: absolute;
            background-color: #c9cbd6;
            width: 35px;
            height: 35px;
            border-radius: 35px !important;
            cursor: pointer;

            &::after {
                border-top: 2px solid #000b4a;
                border-left: 2px solid #000b4a;
                transform: rotate(-45deg) translate(1px, 1px);
            }
        }

        button[data-controls="prev"] {
            left: 25px;
        }

        button[data-controls="next"] {
            right: 25px;
        }
    }

    .bio-slide {
        padding: 0px 100px;
        padding-top: 10vh;
        overflow: auto;
        height: 100vh;

        @include screen-mb {
            padding: 0px 50px;
            padding-top: 8vh;
        }

        @include screen-767 {
            padding: 10px 35px;
            padding-top: 10vh;

        }
    }

    .slide_info {
        font-size: 18px;

        .name {
            @include screen-mb {
                font-size: 26px;
                font-weight: 500;
            }
        }
    }

    .picture {
        max-width: 340px;
        max-height: 350px;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        img {
            object-fit: contain;
        }
    }

    .picture,
    .slide_info>div {
        margin-bottom: 17px;

        @include screen-mb {
            margin-bottom: 12px;
        }
    }

    p {
        margin-bottom: 25px;
        font-size: 18px;

        @include screen-mb {
            margin-bottom: 26px;
            font-size: 20px;
            line-height: 28px;
        }

        @include screen-767 {
            margin-bottom: 26px;
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.mobile_burger {
    position: absolute;
    top: 27px;
    right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    align-self: flex-start;
    cursor: pointer;
    z-index: 1001;

    @media all and (min-width: 768px) {
        display: none;
    }

    >div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #111111;
        display: block;
        transition: all .3s;
    }
}

.page-menu-opened .global-wrapper {
    // transform: translateX(250px);
}

.global-wrapper {
    transition: all .3s;
}

.page-menu-opened {
    // overflow: hidden !important;

    .mobile_burger {
        >div:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 10px)
        }

        >div:nth-child(2) {
            transform: rotate(45deg) translate(-3px, -8px)
        }

        >div:nth-child(3) {
            display: none;
        }
    }
}

.sub-label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.products-container {
    margin-bottom: 65px;

    .upcoming-events__header {
        padding-top: 65px;
        margin-bottom: 5px;
    }

    .row-tags {
        margin-bottom: 5px;
    }
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 65px;

    @include screen-767 {
        grid-template-columns: 100%;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 25px;
        border: 1px solid $border-color;
        background-color: #fff;
        font-size: 18px;
        line-height: 26px;
        color: #464545;

        &__description {
            margin-bottom: 12px;
        }

        &__btn {
            a {
                color: $violet;


            }
        }

        &__picture {
            margin-bottom: 15px;
        }
    }
}

.prduct-detail-container {
    display: flex;
    padding-top: 25px;
    margin-bottom: 80px;

    @include screen-767 {
        flex-direction: column;
    }

    .row-buttons {
        padding: 22px 0;

        .btn {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }

    .upcoming-events__header,
    h1 {
        font-size: 24px;
        text-align: left;
        margin-bottom: 17px;
    }

    .slider-large-outer {
        .hint {
            text-align: center;
            font-size: 12px;
            display: block;
        }
    }

    .slider {
        max-width: 470px;
        margin-bottom: 5px;

        @include screen-767 {
            margin: 0 auto;
        }

        &-large {
            margin-bottom: 10px;
        }

        &-small {
            // max-width: 70%;
            position: relative;
            padding: 0 55px;
            margin-bottom: 10px;
            margin-top: 10px;

            .slider-preview {
                margin: 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100px;
                cursor: pointer;
                outline: none;
            }

            .slick-current,
            .slider-preview:hover {
                border: 1px solid $border-color;
            }

            &:hover .slick-arrow {
                display: inline-flex !important;
            }
        }

        .slick-track {
            display: flex;
        }

        .slick-arrow {
            display: none !important;
            z-index: 10;
            cursor: pointer;
            border: unset;
            width: 40px;
            height: 40px;
            border-radius: 40px !important;
            background-color: #f9f9f9;
            -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            align-items: center;

            &.slick-prev {
                transform: translateX(-55px) translateY(-50%);
            }

            &.slick-next {
                transform: translateX(-5px) scale(-1, 1) translateY(-50%);
                right: 0;
            }

            &::after {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #000b4a;
                border-left: 2px solid #000b4a;
                transform: rotate(-45deg) translate(7px, 7px);
            }
        }
    }

    .product-btn {
        @include screen-767 {
            float: left;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .product-left {
        flex: 0.7;
        margin-right: 20px;

        @include screen-767 {
            margin-right: unset;
        }
    }

    .product-right {
        flex: 1
    }

    .product-about-head {
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    .product-about-sub {
        margin-bottom: 22px;
        font-size: 19px;
        line-height: 26px;
        font-weight: 600;
    }

    .product-description {
        margin-bottom: 40px;
        clear: both;
        float: left;

        p {
            margin-bottom: 25px;
        }
    }
}

.iframe-video {
    position: relative;
    padding-bottom: 56.25%; //padding-top:25px;height:0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.partners-container .cards-slider {

    .tns-controls {
        @include screen-767 {
            width: calc(100% + 70px);
            transform: translateX(-35px) translateY(-15px);
        }
    }

    @include screen-767 {
        padding: 0 35px;
    }
}

.one-banner .one-large-slide {
    width: 100%;
}

.scrollFade {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15px;
    z-index: 10;
    background: rgba(237, 237, 237, 0);
    background: -moz-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 0)), color-stop(53%, rgba(246, 246, 246, 0.53)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=1);
}

.popup-form {
    padding-top: 150px;
    padding-bottom: 50px;
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-self: center;

    @include screen-mb {
        max-width: 650px;
    }

    &-container {
        height: calc(100vh - 125px);
        transform: translateY(125px);

        @include screen-mb {
            height: calc(100vh - 200px);
            transform: translateY(200px);
        }

        @include screen-767 {
            transform: translateY(70px);
            height: calc(100vh - 70px);
        }
    }

    &__name {
        font-weight: 900;
        font-size: 27px;
        line-height: 26px;
        color: #26f8f8;
        margin-bottom: 35px;
        text-transform: capitalize;

        @include screen-mb {
            font-size: 26px;
            margin-bottom: 7px;
        }

    }

    .required {
        float: left;
        text-align: left;
        display: block;
        width: 100%;
        font-size: 17px;

        @include screen-767 {
            text-align: center;
            font-size: 16px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        float: left;
        width: 100%;
        padding-top: 45px;
        margin-bottom: 10px;

        input,
        textarea {
            border: unset;
            background-color: transparent;
            color: #fff;
            opacity: .7;
            border-bottom: 1px solid rgba(255, 255, 255, 0.7);
            outline: none !important;
            line-height: 30px;
            font-size: 18px;
            margin-bottom: 50px;

            &::placeholder {
                color: #fff;
            }

            @include screen-767 {
                margin-bottom: 30px;
                font-size: 16px;
            }


        }

        input[type="text"] {
            &:nth-last-of-type(1) {
                margin-bottom: 5px;
            }
        }

        .textarea-label {
            color: #fff;
            opacity: .7;
            text-align: left;
            font-size: 16px;
        }

        textarea {
            border: 1px solid rgba(255, 255, 255, 0.7);
        }

        input[type="submit"] {
            width: 200px;
        }
    }

    .form-submit {
        color: #26f8f8 !important;
        border: 1px solid #26f8f8;
        max-width: 190px;
        margin: 0 auto;
    }
}

.background-transparent {
    background-color: transparent;
}

.white-bg {
    background-color: #fff;
}

.margin-b-0 {
    margin-bottom: 0;
}

.font-default {
    text-transform: unset !important;
    font-size: 16px !important;
}

.font-grey {
    color: #878787 !important;
}

.startups-wrapper {
    margin-bottom: 90px;

    .includes-list {
        padding-top: 30px;
    }
}

.expert-product-block {
    border-bottom: 1px solid #acacac;
    padding-bottom: 75px;

    .row-buttons:not(.row-buttons-mobile) {
        @include screen-767 {
            display: none;
        }
    }
}

.photo-single {
    flex-direction: column;
    display: flex;
    justify-content: center;

    &-outer {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
}



.row-buttons-mobile {
    opacity: 0;

    @include screen-767 {
        opacity: 1;
    }
}

.login-soc-buttons {
    display: flex;
    justify-content: center;

    @include screen-767 {
        transform: scale(0.7);
    }
}

.login-btn {
    min-height: 50px;
    border: 1px solid #fff;
    border-left: 50px solid #fff;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;

    &__fb::before {
        background-image: url('../icons/fb.svg');
    }

    &__google::before {
        background-image: url('../icons/google.svg');
    }

    &::before {
        content: '';
        position: absolute;
        left: -50px;
        width: 50px;
        height: 50px;
        display: block;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
    }
}

.line-trough-styled {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px 0;

    @include screen-767 {
        width: 100%;
        max-width: 400px;
    }

    span {
        padding: 0 25px;
        font-size: 18px;
        z-index: 20;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            display: block;
            width: 115px;
            height: 1px;
            background-color: #fff;

            @include screen-767 {
                width: 60px;
            }
        }

        &::before {
            left: -100px;

            @include screen-767 {
                left: -55px;
            }
        }

        &::after {
            right: -100px;

            @include screen-767 {
                right: -55px;
            }
        }
    }
}

.have-acc {
    line-height: 40px;

    a {
        color: #fff;
        text-decoration: underline;
        text-decoration-color: currentColor;
    }

    @include screen-767 {
        font-size: 16px;
        line-height: 28px;
    }
}

.form-checkboxes {
    margin-bottom: 45px;
}

.login-actions {
    padding: 35px 0;
    display: flex;
    justify-content: center;

    .login-action-btn {
        padding: 0 15px;
        color: #fff;
        text-decoration: underline;
        text-decoration-color: currentColor;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        margin-left: -1px;

        &:nth-child(1) {
            border-left: unset;
        }

        &:nth-last-child(1) {
            border-right: unset;
        }

        @include screen-767 {
            font-size: 14px;
        }
    }
}

.personal-data {

    &-top {
        position: relative;
    }

    &-in {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0px 5px;

        @include screen-mb {
            grid-template-columns: 1fr 1fr;
        }

        @include screen-767 {
            grid-template-columns: 100%;
        }
    }

    &-edit {
        .input-label {
            font-size: 14px;
            color: #7e7e7e;
            text-transform: capitalize;

        }

        .input-block {
            margin-bottom: 20px;
        }

    }

    .btn {
        font-size: 18px;

        @include screen-767 {
            width: 100%;
        }
    }

    @include screen-mb {
        padding-bottom: 40px;
    }

}


.profile-pic {
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;

    }

    .edit-link {
        width: max-content;
        margin: 0 auto;
        color: #7e7e7e;
        font-size: 12px;
        text-decoration: underline;
        text-decoration-color: currentColor;
        cursor: pointer;
    }

    @include screen-mb {
        grid-column: 1 / span 2;
        margin-bottom: 55px;
    }

    @include screen-767 {
        grid-column: 1;
    }
}

.personal-events {
    padding-top: 40px;

    &::nth-last-child(1) {
        margin-bottom: 15px;
    }

    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__card {
        display: flex;
        justify-self: center;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: calc(33% - 5px);
        color: #000;

        @include screen-mb {
            width: 50%;
        }

        @include screen-767 {
            width: 100%;
        }

        .add-link {
            font-size: 16px;
            text-decoration-color: currentColor;
            text-decoration: underline;
        }


        .card-logo {
            position: relative;
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #d9d9d9;
            background-color: #fff;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &>div {
            margin-bottom: 15px;
        }

        .card-name {
            font-weight: 700;
            font-size: 26px;

            @include screen-mb {
                font-size: 24px;
            }
        }
    }
}

.event-add {
    cursor: pointer;
    transition: all .3s;

    &:hover {
        filter: brightness(.95);
    }

    .card-logo {

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: #f9f9f9;
            height: 18px;
            width: 120px;
            transform: translate(-50%, -50%);
        }

        &::after {
            transform: translate();
        }

        &::before {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

}

.personal-edit {
    &__header {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 30px;
        color: #464545;
        text-transform: capitalize;

        @include screen-mb {
            margin-bottom: 20px;
        }

        @include screen-767 {
            font-size: 20px;
            text-align: center;
        }
    }
}

.logout {
    float: right;
    color: #533fda !important;
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    position: absolute;
    right: 0;
    top: 10px;

    @include screen-mb {
        display: none;
    }
}

.checkbox-group {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include screen-mb {
        grid-template-columns: 1fr 1fr;
    }

    @include screen-767 {
        grid-template-columns: 100%;
        gap: 0;
    }
}

.input-file {
    &__preview {
        display: block;
        position: relative;
        border: 1px solid #cfcfcf;
        width: 295px;
        height: 295px;
        margin-bottom: 20px;

        @include screen-767 {
            width: 255px;
            height: 255px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        i {
            cursor: pointer;
            position: absolute;
            left: 5px;
            top: 5px;
            color: #000;
            font-weight: 700;
        }
    }
}

.upload-styled {
    color: #8c8c8c;
    font-size: 14PX;
    padding: 15px 30px;
    border: 1px solid #cfcfcf;
    max-width: 295px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;

    @include screen-767 {
        padding: 15px;
    }

    input[type="file"] {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .select-file {
        color: #000;
        font-size: 14px;
        margin-right: 25px;
        text-decoration: underline;
        text-decoration-color: currentColor;
    }
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.startup-application {
    padding-top: 50px;
}

.paragraph {
    margin-bottom: 30px;

    &-header {
        color: #474747;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &-content {
        border: 1px solid #cfcfcf;
        padding: 25px;
        color: #000;
        line-height: 28px;
        font-size: 20px;

        @include screen-767{
            padding: 15px;
            font-size: 16px;
        }
    }

    p{
        margin-bottom: 35px;
    }
}

.startup-info{
    display: flex;
    margin-bottom: 20px;

    @include screen-767{
        flex-direction: column;
    }
}

.startup-logo {
    flex: 3;
    flex-direction: column;
    margin-right: 20px;

    @include screen-767{
        max-height: 250px;
        align-items: center;
        display: flex;
        margin: 0;
        margin-bottom: 25px;
    }

    img{
        max-height: 250px;
    object-fit: contain;
    }
}

.startup-descr {
    flex: 9;
    flex-direction: column;
    color:#000;

    .font-bold{
        color: #474747;
    }

    p{
        margin-bottom: 18px;
        line-height: 24px;
        font-size: 19px;
    }

    .footer-social{
        justify-content: flex-start;
        padding: 10px 0;
        margin-bottom: 25px;

        &__logo{
            width: 35px;
            height: 35px;
            filter:sepia(1) invert(1) contrast(0.3) saturate(5.2) brightness(1.3) hue-rotate(-330deg)
        }
    }

    a{
        color: $violet;
    }
}

.startup-name{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 25px;
}

.startup-page-wrapper{
    padding-top: 50px;
    background-color: #fff;
}

.font-bold{
    font-weight: 700;
}

.startup-link{
    margin-bottom: 40px;

    .head{
        font-weight: 700;
        color: #474747;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 5px;
    }

    a{
        color: $violet;
        text-decoration: underline;
        text-decoration-color: currentColor;
        font-size: 20px;
        line-height: 28px;
        display: block;
        word-break: break-all;

        @include screen-767{
            font-size: 16px;
        }
    }
}