$defaultFont: #5d5d5d;
$violet: #523eda;
$red: #ff2945;
$cyan: #26f8f8;
$slider-height: 56vh;
$slider-min-height: 530px;
$slider-height-tablet: 54vh;
$slider-min-height-tablet: 480px;
$slider-height-mobile: 57vh;
$slider-min-height-mobile: 500px;
$border-color: #cfcfcf;