<template>
    <div>
        <ul class="lvl1" v-if="menu.items">
            <li v-for="item in menu.items" @mouseover="setFocusLvl1(item)">
                <a :href="item.href">{{item.name}}</a>
            </li>
        </ul>



        <div class="container-lvl2" @mouseleave="resetFocuses()" v-if="lvl2Items  && lvl2Items.length > 0">
            <div class="lvl2">
                <ul>
                    <li v-for="sub in lvl2Items" @mouseover="setFocusLvl2(sub)">
                        <a v-bind:href="sub.href">
                            <span>{{ sub.name}}</span>
                            <span v-if="sub.items && sub.items.length > 0">></span>
                        </a>
                    </li>
                </ul>
            </div>


            <ul class="lvl3" v-if="lvl3Items && lvl3Items.length > 0">
                <li v-for="sub in lvl3Items" @mouseover="setFocusLvl3(sub)">
                    <a v-bind:href="sub.href">
                        {{ sub.name}}
                    </a>

                    <ul v-if="sub.items && sub.items.length > 0">
                        <li v-for="sub4 in sub.items">
                            <a :href="sub4.href">{{sub4.name}}</a>
                        </li>
                    </ul>

                </li>
            </ul>

            <div class="info" v-if="fSrc || focusInfo.desc">
                <div class="imgage" v-if="fSrc" :style="fSrc"></div>
                <div class="desc" v-if="focusInfo.desc">{{focusInfo.desc}}</div>
            </div>
        </div>

        <div style="" class="container-lvl2">
            <div class="lvl2">
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>At debitis dicta ex sit.</li>
                    <li>Delectus in perspiciatis quia rem!</li>
                    <li>Architecto debitis ipsum molestiae tempora.</li>
                    <li>Delectus dolor fugit numquam saepe.</li>
                    <li>A accusantium assumenda porro velit?</li>
                </ul>
            </div>
            <div class="lvl3-container">
                <ul class="lvl3">
                    <li>
                        <a class="title"
                           href="https://rozetka.com.ua/notebooks/c80004/">Ноутбуки</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebooks/c80004/filter/producer=asus/">
                                Asus </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebooks/c80004/filter/producer=acer/">
                                Acer </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebooks/c80004/filter/producer=hp-hewlett-packard/">
                                HP (Hewlett Packard) </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebooks/c80004/filter/producer=lenovo/">
                                Lenovo </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebooks/c80004/filter/producer=dell/">
                                Dell </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebooks/c80004/filter/producer=apple/">
                                Apple </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/computers-notebooks-accessories/c80256/">Аксессуары для
                        ноутбуков и ПК</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/usb-flash-memory/c80045/"> Флеш память USB </a>
                            </li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebook-bags/c80036/"> Сумки и рюкзаки для
                                ноутбуков </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/notebook_stands/c183690/"> Подставки и столики
                                для ноутбуков </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/web_cameras/c180143/"> Веб-камеры </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/universalnye-mobilnye-batarei/c387969/40239=72874/">
                                Универсальные мобильные батареи для ноутбуков </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/tv-cables/c80073/"> Кабели и переходники </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/tablets/c130309/">Планшеты</a>
                        <ul class="lvl4"></ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/aksessuary-dlya-planshetov/c108714/">Аксессуары к
                        планшетам</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/tablet_covers/c305219/"> Чехлы и клавиатуры для
                                планшетов </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/protect_skin/c146202/23448=72894/"> Защитные
                                пленки и стекла </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/grafic-tablets/c83199/">Графические планшеты</a>

                        <ul class="lvl4"></ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/e-books/c80023/">Электронные книги</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/ereader_accessories/c195851/"> Аксессуары для
                                электронных книг </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/rasprodaja/c83850/">Уцененные товары</a>
                        <ul class="lvl4"></ul>
                    </li>
                </ul>

                <ul class="lvl3">
                    <li>
                        <a class="title" href="https://hard.rozetka.com.ua/">Комплектующие</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/videocards/c80087/"> Видеокарты </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/hdd/c80084/"> Жесткие диски и дисковые
                                массивы </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/processors/c80083/"> Процессоры </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/ssd/c80109/"> SSD </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/memory/c80081/"> Память </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/motherboards/c80082/"> Материнские
                                платы </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/psu/c80086/"> Блоки питания </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/cases/c80090/"> Корпуса </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/ups/c80108/"> Источники бесперебойного
                                питания </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/coolers/c80099/"> Системы охлаждения </a>
                            </li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/stabilizers/c144719/"> Стабилизаторы
                                напряжения </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/optical-drives/c80085/"> Оптические
                                приводы </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/soundcards/c80088/"> Звуковые карты </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://hard.rozetka.com.ua/computers/c80095/">Компьютеры</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/monitors/c80089/"> Мониторы </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/computers/c80095/"> Компьютеры, неттопы,
                                моноблоки </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/mouses/c80172/"> Мыши </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/keyboards/c80171/"> Клавиатуры </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/grafic-tablets/c83199/"> Графические
                                планшеты </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/keybords-kit/c80174/"> Комплект: клавиатура
                                + мышь </a></li>
                            <li><a class="menu__link" href="https://rozetka.com.ua/nas/c80199/">
                                Сетевые хранилища (NAS) </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/servernoe-oborudovanie/c4630100/">Серверное
                        оборудование</a>
                        <ul class="lvl4"></ul>
                    </li>
                </ul>

                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/office-equipment/c80254/">Оргтехника</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/printers-mfu/c80007/"> МФУ/Принтеры </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/projector/c80012/"> Проекторы </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/original-cartridge/c80024/"> Оригинальные
                                расходные материалы </a></li>
                            <li><a class="menu__link" href="https://rozetka.com.ua/SNPC/c81224/">
                                Совместимые расходные материалы </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/office-phones/c80029/"> Телефонные аппараты </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/interaktivnoe-oborudovanie/c4643064/">Интерактивное
                        оборудование</a>
                        <ul class="lvl4"></ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title" href="https://soft.rozetka.com.ua/">Программное
                        обеспечение</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://soft.rozetka.com.ua/os/c80063/"> Операционные системы </a></li>
                            <li><a class="menu__link"
                                   href="https://soft.rozetka.com.ua/ofisnye-prilojeniya/c80064/"> Офисные
                                приложения </a></li>
                            <li><a class="menu__link"
                                   href="https://soft.rozetka.com.ua/antivirus/c80062/"> Антивирусы </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/game-zone/c80261/">Товары для геймеров</a>
                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/consoles/c80020/"> Игровые консоли и
                                приставки </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/djoysticks/c80173/"> Джойстики и аксессуары </a>
                            </li>
                            <li><a class="menu__link"
                                   href="https://soft.rozetka.com.ua/games/c80066/"> Игры </a></li>
                            <li><a class="menu__link"
                                   href="https://hard.rozetka.com.ua/gaming-surfaces/c80112/"> Игровые
                                поверхности </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="lvl3">
                    <li><a class="title"
                           href="https://rozetka.com.ua/network-equipment/c80111/">Сетевое оборудование</a>

                        <ul class="lvl4">
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/patch-kordi/c4631572/"> Патч-корды </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/routers/c80193/"> Маршрутизаторы </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/ip_cam/c156790/"> IP-камеры </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/switches/c80194/"> Коммутаторы </a></li>
                            <li><a class="menu__link"
                                   href="https://rozetka.com.ua/wireless-access-points/c80195/"> Беспроводные
                                точки доступа </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="info">
                <div class="image"></div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure laboriosam magni molestias nostrum qui!</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "MenuCatalog",
        selector: '#MenuCatalog',
        props: ['result'],
        data: function() {
            let data = {
                focusInfo: {},
                focusLvl1: {},
                focusLvl2: {},
                items: [],
            };

            if (this.result)
                data.items = this.result;
            else if (App && App.debug)
                data.items = this.getDemoData();
            return {
                menu: data
            };
        },
        computed: {
            fSrc: function() {
                if (this.menu.focusInfo
                    && this.menu.focusInfo.image
                    && this.menu.focusInfo.image.src
                ) {
                    let style = {
                        'background-image': 'url(\''+this.menu.focusInfo.image.src+'\'',
                    };
                    return style;
                }
            },
            focusInfo: function() {
                return this.menu.focusInfo;
            },
            lvl2Items: function() {
                return this.menu.focusLvl1.items;
            },
            lvl3Items: function() {
                return this.menu.focusLvl2.items;
            },
        },
        methods: {
            getDemoData: function() {
                return  [
                    {
                        name: 'Catalog',
                        href: '#',
                        // active: true,
                        items: [
                            {
                                image: {
                                    src: '/img/no-photo.png',
                                    alt: '#',
                                },
                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                name: 'Раздел 1',
                                href: '#',
                                items: [
                                    {
                                        name: 'item 5',
                                        href: '#',
                                        items: [
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                        ]
                                    },
                                    {
                                        name: 'item 5',
                                        href: '#',
                                        items: [
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                        ]
                                    },
                                    {
                                        name: 'item 5',
                                        href: '#',
                                        items: [
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                        ]
                                    },
                                    {
                                        name: 'item 5',
                                        href: '#',
                                        items: [
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                        ]
                                    },
                                    {
                                        image: {
                                            src: '/img/no-photo.png',
                                            alt: '#',
                                        },
                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                        name: 'item 6',
                                        href: '#',
                                        items: [
                                            {
                                                image: {
                                                    src: '/img/no-photo.png',
                                                    alt: '#',
                                                },
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                                name: 'item 2',
                                                href: '#',
                                                items: [
                                                    {
                                                        name: 'item 5',
                                                        href: '#',
                                                    },
                                                    {
                                                        image: {
                                                            src: '/img/no-photo.png',
                                                            alt: '#',
                                                        },
                                                        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',

                                                        name: 'item 6',
                                                        href: '#',
                                                    },
                                                ]
                                            },
                                            {
                                                name: 'item 3',
                                                href: '#',
                                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                                            },
                                        ]
                                    },
                                ]
                            },
                            {
                                name: 'Раздел без вложеностей',
                                href: '#',
                                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur, iusto molestias quae quibusdam rem.',
                            },
                        ]
                    },
                    {
                        name: 'Demo phones',
                        href: '#',
                        items: []
                    },
                    {
                        name: 'Demo drees',
                        href: '#',
                    },
                    {
                        name: 'Demo personal',
                        href: '#',
                        items: [
                            {
                                name: 'item 5',
                                href: '#',
                            },
                            {
                                name: 'item 6',
                                href: '#',
                                items: [
                                    {
                                        name: 'item 5',
                                        href: '#',
                                    },
                                    {
                                        name: 'item 6',
                                        href: '#',
                                    },
                                ]
                            },
                        ]
                    }
                ];
            },
            resetFocuses: function() {
                this.menu.focusInfo =
                this.menu.focusLvl1 =
                this.menu.focusLvl2 = {};
            },
            setFocusLvl1: function (item) {
                this.menu.focusInfo = this.menu.focusLvl1 = item;
            },
            setFocusLvl2: function (item) {
                this.menu.focusInfo = this.menu.focusLvl2 = item;
            },
            setFocusLvl3: function (item) {
                this.menu.focusInfo = item;
            },
        },
        created() {
            if (Core && Core.debug) {
                console.log('Компонент-created: menu-catalog', this.menu);
            }
        },
        mounted() {}
    }
</script>
<style scoped lang="scss">
    // Важная часть для корректной работы
    #MenuCatalog {
        $margin: 10px;
        a {
            display: block;
            padding: 5px 10px;
            border-radius: 0 4px 0 0;
            position: relative;
            /*padding: 10px 10px 10px 12px;*/
            border-bottom: 1px solid #e3eaef;
            color: #000;
            vertical-align: middle;
            text-align: left;
            text-decoration: none;
            text-shadow: 0 1px 1px rgba(255,255,255,.8);
            font-size: 13px;
            /*font-weight: 100;*/
            line-height: 14px;
            //@extend %gb-line-space;
            //@extend %gb-line;
            /*display: flex;*/
            /*align-items: center;*/
            /*align-content: space-between;*/
            /*justify-content: space-between;*/
        }
        .title {
            margin-bottom: 4px;
            padding-right: 10px;
            font-size: 16px;
            line-height: 18px;

            color: #3e77aa;
            cursor: pointer;
        }
        .container-lvl2 {
            width: 100%;
            max-width: 1140px;
            position: absolute;
            z-index: 2;
            /*background-color: #fff;*/
            display: flex;
            flex-direction: row;
        }
        .lvl1 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
            a {
                position: relative;
                padding: 10px 10px 10px 12px;
                color: #000;
                vertical-align: middle;
                text-align: left;
                text-decoration: none;
                text-shadow: 0 1px 1px rgba(255,255,255,.8);
                font-size: 14px;
                line-height: 16px;
                //@extend %gb-border;
                border: 1px solid #e2edf3;
                border-radius: 5px;
                //@extend %gb-line-space;
                display: flex;
                align-items: center;
                align-content: space-between;
                justify-content: space-between;
            }
        }
        .lvl2 {
            min-width: 250px;
            /*background-color: #C5D0DD;*/
            ul {
                /*padding-left: 10px;*/
                /*background-color: #F0F0F0;*/

            }
            li {
                padding: 5px 10px;
                /*margin-bottom: 10px;*/
                box-shadow: -1px 0 2px rgba(0,0,0,0.30);
                background-color: #F0F0F0;
                &:hover {
                    z-index: 3;
                    box-shadow: -1px 0 5px rgba(0,0,0,0.40);
                }
            }

        }
        .lvl3-container {
            padding: 10px;
            border-top: 1px solid rgba(1,1,1,.1);
            border-radius: 2px;
            background: #fff;
            box-shadow: 0 5px 10px 0 rgba(1,1,1,.29);

            width: 100%;
            /*height: auto;*/
            max-height: 500px;

            /*display: table-column;*/

            /*display: grid;*/
            /*grid-template-columns: 33.3% 33.3% 33.3%;*/

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;
            > * {
                width: 33.3%;
            }
        }
        .info {
            max-width: 250px;
            background-color: #e4e4e4;
        }
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            list-style: none;
        }

        .info {
            .image {
                height: 100px;
                background-position: center;
                background-size: cover;
                margin-bottom: $margin;
                background-image: url('/img/no-photo.png');
                background-color: #ccc;
            }
            padding: $margin;
            box-shadow: inset 2px 0 5px rgba(0,0,0,0.15);
            width: 250px;
        }

        /*
        margin-top: $margin-container;
        margin-bottom: $margin-container;


        a {
            display: flex;
            align-items: center;
            align-content: space-between;
            justify-content: space-between;
        }

        .lvl2 {
            min-width: 100px;
            box-shadow: 0 2px 5px rgba(0,0,0,.35);
            background: #fff;

        }
        .lvl3 {
            width: 100%;
            max-height: 600px;
            background: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,.35);


            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            > * {
                width: 33.3%;
                @extend %gb-border;
            }
            a {
                border-radius: 0 4px 0 0;
                position: relative;
                padding: 10px 10px 10px 12px;
                border-bottom: 1px solid #e3eaef;
                color: #000;
                vertical-align: middle;
                text-align: left;
                text-decoration: none;
                text-shadow: 0 1px 1px rgba(255,255,255,.8);
                font-size: 14px;
                line-height: 16px;
                @extend %gb-line-space;
            }
        }


        */
    }
</style>
