<template>
    <div class="one-filter" v-click-outside="closeList">
        <div class="input-outer" @click="openList" :class="{can_search: data.filter_obj.can_search, opened:isOpened}">
            <input type="text"
                   class="filter-input"
                   :placeholder="data.filter_name"
                   :disabled="!data.filter_obj.can_search"
                   @input="search"
                  >
        </div>
        <div class="open-filter" v-show="isOpened">
            <div class="btn-controls">
                <span @click="selectAll" class="select">Select all</span>
                <span @click="unSelectAll" class="unselect">Deselect all</span>
            </div>
            <ul>
                <li v-for="filter in Data">
                    <label :for="filter.id+'_'+comp_id" class="styled_checkbox">
                        <input type="checkbox"
                               :id="filter.id+'_'+comp_id"
                               v-model="CheckedList"
                               :value="filter.name"
                               @change="alert"
                        >
                        <i class="styled"></i>
                        <span>{{filter.name}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</template>

<script type="text/babel">
    import vClickOutside from 'v-click-outside'

    export default {
        name: "event-filter",

        props: [
            'data',
        ],

        directives: {
            clickOutside: vClickOutside.directive
        },

        data() {
            return {
                isOpened: false,
                comp_id: 0,
                CheckedList: [],
                Data: null,
            }
        },

        mounted() {
            this.comp_id = this._uid;
            this.Data = this.data.filter_obj.list;
        },

        watch: {
            CheckedList() {
                this.$root.$emit('filter', {name: this.data.filter_name, checked: this.CheckedList})
            }
        },

        methods: {
            alert() {

            },
            selectAll() {
                this.CheckedList = this.Data.map((el) => {
                    return el.name;
                });
            },
            unSelectAll() {
                this.CheckedList = [];
            },
            search($event) {
                let stuff_to_filter = this.data.filter_obj.list;
                return this.Data = stuff_to_filter.filter((el) => {
                    return el.name.toLowerCase().indexOf($event.target.value.toLowerCase()) > -1;
                })
            },
            openList() {
                this.isOpened = true;
            },
            closeList() {
                this.isOpened = false;
            }
        }
    }
</script>

