<template>
<div class="section-list events-section-list">
    <transition-group name="list" tag="div">
    <article class="list-event" v-for="event in list" :key="event.id">
        <div class="prewiew">
            <img :src="event.img" alt="">
        </div>
        <div class="description">
            <div class="row-date">
                <div class="date">{{event.date}} - </div>
                <div class="place">{{event.venue}}</div>
            </div>
            <div class="row-name">{{event.name}}</div>
            <div class="row-type">{{event.type}}</div>
            <div class="row-descr">{{event.text}}</div>
            <div class="row-btn">
                <a href="event.html" class="btn btn__small">View details</a>
            </div>

        </div>
    </article>
    </transition-group>
    <div class="no-results" v-if="!list.length">
        No results
    </div>
    <div class="load-more-btn justify-center" v-if="list.length > 0">
        <a href="" class="btn btn__small secondary" @click.stop.prevent="loadMore">Load more</a>
    </div>
</div>
</template>

<script type="text/babel">
    
    export default {
        name: "events-filter-list",

        props: [
            "list"
        ],

        data() {
            return {

            }
        },

        methods: {
            loadMore(){
                this.$root.$emit('loadMore');
            }
        }
    }
</script>

<style>
    :root{
        --transform-time: .3s
    }
    .list-move {
        transition: transform var(--transform-time);
    }
    .list-enter-active, .list-leave-active {
        transition: all var(--transform-time);
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
        position: absolute;
        opacity: 0;
        transform: translateY(30px);
    }
</style>

