<template>
    <div class="filter-list">
        <event-filter :key="key" v-for="(filter, key) in filters" :data="{filter_obj: filter, filter_name: key}"></event-filter>
    </div>
</template>

<script type="text/babel">

    import EventFilter from "./EventFilter";

    export default {
        name: "events-filter-list",

        props: [
           "filters"
        ],

        components: {'event-filter': EventFilter},



        methods: {
          
        }
    }
</script>

