<template>
    <div class="events-list-container">
        <event-filter :filters="filters"></event-filter>
        <events-list :list="EventData"></events-list>
    </div>
</template>

<script type="text/babel">
    import EventsList from "../components/EventsList";
    import FilterList from "../components/FilterList";
    import events from "../../events.json";

    export default {
        name: "events-list-container",

        components: {
            'events-list': EventsList,
            'event-filter': FilterList
        },

        data() {
            return {
                EventData: [],
                // events: [
                // {
                //     "id": 1,
                //     "type_id": 1,
                //     "venue_id": 2,
                //     "name": "Biohack yourself from Coronavirus",
                //     "date": "April 4, 2020",
                //     "venue": "online",
                //     "type": "Startup Competition",
                //     "text": "Join Biohacking Congress Webinar BiohackingCongress's upcoming events around the world...",
                //     "img": "UpcomingEventsPhotos/1.-events-banner-for-site.jpg"
                // },
                // ],

                filters: {
                    cities: {
                        can_search: true,
                        list: [
                            {id: 1, name: 'London', checked: false},
                            {id: 2, name: 'New York', checked: false},
                            {id: 3, name: 'San Francisco', checked: false},
                            {id: 4, name: 'Los Angeles', checked: false},
                        ]
                    },
                    types: {
                        can_search: false,
                        list: [
                            {id: 1, name: 'Congress', checked: false},
                            {id: 2, name: 'Webinar', checked: false},
                            {id: 3, name: 'Meetup', checked: false},
                            {id: 4, name: 'Startup Competition', checked: false},
                        ]
                    }
                },
            }
        },

        mounted() {
            this.EventData = events;
            this.$root.$on('filter', data => {
                this.setEventsData(data);
            });

            this.$root.$on('loadMore', () => {
                this.loadMore();
            });
        },

        methods: {
            getSelectedIdsForFilter() {
                /*
                * Возвр. обьект c id выбраных фильтров в виде
                * {cities: [1, 2], types: [3]}
                * */
                let selectedIds = {};
                Object.keys(this.filters).forEach((filter_key) => {
                    let list = this.filters[filter_key].list;
                    selectedIds[filter_key] = list.filter((el) => {
                        return el.checked === true;
                    }).map(el => {
                        return el.id;
                    })
                });
                return selectedIds;
            },
            setEventsData(data) {
                /*
                * Фильтрует данные в рамках одной страницы. Заполняется EventData в формате, как в примере выше (файл events.json)
                * */
                let array_to_set = this.filters[data.name].list;
                if (Array.isArray(data.checked)) {
                    this.filters[data.name].list = array_to_set.map((el) => {
                        return Object.assign(el, {checked: data.checked.indexOf(el.name) > -1});
                    });
                }

                let selectedIds = this.getSelectedIdsForFilter();
                console.log(selectedIds)
                let isEmpty = Object.keys(selectedIds).every(function (key) {
                    return selectedIds[key].length === 0
                });

                if (isEmpty === true) {
                    this.EventData = events;
                    return false;
                }

                this.EventData = events.filter((event) => {
                    if (selectedIds.types.indexOf(event.type_id) > -1 || selectedIds.cities.indexOf(event.venue_id) > -1)
                        return event;
                })
            },
            loadMore(){
                // условная подгрузка
                this.EventData = this.EventData.concat(events)
            }
        },
    }
</script>

